<h2 translate>Change Password</h2>

<div ng-include="'/templates/user/menu.html'"></div>

<form class="form-signin" ng-submit="changePassword()">
	<input
            type="password"
            ng-model="oldPassword"
            class="form-control"
            placeholder="{{'Old Password'|translate}}"
            required
            autofocus
    >	<input
            type="password"
            ng-model="password"
            class="form-control"
            placeholder="{{'Password'|translate}}"
            required
            autofocus
    >
	<input
            type="password"
            ng-model="passwordRepeat"
            class="form-control"
            placeholder="{{'Repeat Password'|translate}}"
            required
    >
	<button
            class="btn btn-lg btn-primary btn-block"
            placeholder="{{'Password'|translate}}"
            type="submit"
            required
            translate
    >
        Change
    </button>
</form>
