<form class="form-signin" ng-submit="login()">
	<h2 class="form-signin-heading" translate>Login</h2>
	<input
			type="text"
            ng-model="username"
			ng-min-length="2"
			ng-enter="login()"
			class="form-control"
			autocomplete="false"
            ng-blur="usernameBlur()"
			placeholder="{{'Username'|translate}}"
            required
            autofocus
			>
	<input
			type="password"
			ng-min-length="2"
            ng-model="password"
            class="form-control"
			ng-enter="login()"
			autocomplete="false"
			placeholder="{{'Password'|translate}}"
            required>
	<input
			type="number"
            ng-show="needsOneTimeToken"
			ng-model="one_time_token"
            class="form-control"
			placeholder="{{'One Time Token'|translate}}">
	<button
			class="btn btn-lg btn-primary btn-block"
            type="submit"
            translate>
		Sign in
	</button>
	<button
            ng-show="needsOneTimeToken"
			class="btn btn-lg"
            type="button"
            ng-click="sendToken()"
            translate
            >
		Send Token via Mail
	</button>
</form>
