<form class="form-signin" ng-submit="login()">
	<h2 class="form-signin-heading" translate>Login</h2>
	<input
			type="text"
            ng-model="username"
			ng-min-length="2"
			ng-enter="login()"
			class="form-control"
			autocomplete="false"
            ng-blur="usernameBlur()"
			placeholder="{{'Username'|translate}}"
            required
            autofocus
			>
	<input
			type="password"
			ng-min-length="2"
            ng-model="password"
            class="form-control"
			ng-enter="login()"
			autocomplete="false"
			placeholder="{{'Password'|translate}}"
            required>
	<div ng-if="needsOneTimeToken" class="input-group">
		<input
				type="number"
				ng-maxlength="6"
				ng-model="one_time_token"
				class="form-control"
				placeholder="{{'One Time Token'|translate}}"
		/>
		<span class = "input-group-btn">
			<button
				class="btn btn-lg btn-info btn-block"
				type="button"
				ng-click="sendToken()"
				translate
			>
				Send Email
			</button>
        </span>
	</div>

	<button
			class="btn btn-lg btn-primary btn-block"
            type="submit"
            translate>
		Sign in
	</button>
</form>
