<ul class="nav nav-tabs">
    <li class="active">
        <a href="#/user" translate>Profile</a>
    </li>
    <li>
        <a href="#/user/change_password" translate>Change Password</a>
    </li>
    <li>
        <a href="#/user/settings" translate>Settings</a>
    </li>
    <li>
        <a href="#/user/otp" translate>Two Factor Authentication</a>
    </li>
    <li>
        <a href="#/user/tokens" translate>Tokens</a>
    </li>
    <li>
        <a href="#/user/sessions" translate>Sessions</a>
    </li>
    <li>
        <a class="btn btn-danger" href="#/logout" translate>Logout</a>
    </li>
</ul>
