<ul class="nav nav-tabs">
    <li>
        <a class="btn btn-primary active" href="#/user" translate>Profile</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#/user/change_password" translate>Change Password</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#/user/settings" translate>Settings</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#/user/otp" translate>Two Factor Authentication</a>
    </li>
    <li>
        <a class="btn btn-primary" href="#/user/tokens" translate>Tokens</a>
    </li>
    <li>
        <a class="btn btn-danger" href="#/logout" translate>Logout</a>
    </li>
</ul>
