<h2 translate>Two Factor Authentication</h2>

<div ng-include="'/templates/user/menu.html'"></div>

<div ng-if="oneTimePassword.secret">
	<qr-code data="oneTimePassword.url"></qr-code>

	<hr />
	<label translate translate-comment="otp">Secret:</label>&nbsp;
    <input type="text" size="25" readonly autofocus="" value="{{oneTimePassword.secret}}" />

	<hr />
	<a href="{{oneTimePassword.url}}">{{oneTimePassword.url}}</a>

	<hr />
	<input class="btn btn-danger" type="button" value="{{'Disable One Time Secret'|translate}}" ng-click="deleteToken()"/>
</div>

<div ng-if="!oneTimePassword.secret">
	<input class="btn btn-success" type="button" value="{{'Requet One Time Secret'|translate}}" ng-click="requestToken()"/>
</div>
