<h2 translate>Settings</h2>

<div ng-include="'/templates/user/menu.html'"></div>

<div class="panel panel-primary">
    <div class="panel-heading" translate>
        Hide menu entries
    </div>
    <div class="panel-body">
        <ul>
            <li ng-repeat="item in controllers">
                <checkbox
                    ng-model="settings.hiddenMenus[item.controller]"
                    ng-change="set('hiddenMenus', settings.hiddenMenus)"
                ></checkbox>
                <i class="glyphicon glyphicon-{{ item.icon }}"></i>
                <span ng-bind="item.name"></span>
            </li>
        </ul>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading" translate>
        Settings
    </div>
    <div class="panel-body">
        <ul>
            <li>
                <label translate>Browser Notification</label>
                <checkbox
                     ng-change="set('browserNotification', settings.browserNotification)"
                     ng-model="settings.browserNotification"
                ></checkbox>
            </li>
            <li>
                <label translate>Espeak browser output</label>
                <checkbox
                     ng-change="set('espeakBrowserOutput', settings.espeakBrowserOutput)"
                     ng-model="settings.espeakBrowserOutput"
                ></checkbox>
            </li>
            <li>
                <label translate>Voice control</label>
                <checkbox
                     ng-change="set('voiceControl', settings.voiceControl)"
                     ng-model="settings.voiceControl"
                ></checkbox>
            </li>
        </ul>
    </div>
</div>
