<h2 translate>Tokens</h2>

<div ng-include="'/templates/user/menu.html'"></div>

<table ng-if="tokens|notEmpty" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th translate>Token</th>
            <th translate>Name</th>
            <th translate>Roles</th>
            <th translate>Revoke</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(token, tokenData) in tokens">
            <td><b>{{token}}</b></td>
            <td>{{tokenData.name}}</td>
            <td>
                {{tokenData.roles|join:', '}}
            </td>
            <td>
                <a
                        class="btn btn-danger"
                        confirm-text="{{'Delete this token?'|translate}}"
                        confirm="revoke(token)"
                        translate>
                    Revoke
                </a>
            </td>
        </tr>
    </tbody>
</table>

<h2 translate>Add new token</h2>
<ui-select multiple ng-model="roles">
    <ui-select-match placeholder="{'Select roles...'|translate}">{{$item}}</ui-select-match>
    <ui-select-choices repeat="role in availableRoles">
        <div ng-bind="role"></div>
    </ui-select-choices>
</ui-select>

<input
        type="text"
        ng-model="name"
        placeholder="{{'Name'|translate}}"
        class="form-control"
/>
<input
        class="btn btn-primary"
        type="button"
        ng-click="add(roles, name)"
        value="{{'Add'|translate}}"
/>
