<h2 translate>Tokens</h2>

<div ng-include="'/templates/user/menu.html'"></div>

<table ng-if="tokens|notEmpty" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th translate>Token</th>
            <th translate>Roles</th>
            <th translate>Revoke</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(token, tokenRoles) in tokens">
            <td>{{token}}</td>
            <td>
                {{tokenRoles}}
                <ui-select multiple ng-model="tokenRoles">
                    <ui-select-match placeholder="Select roles...">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="role in availableRoles">
                        <div ng-bind="role"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td><a class="btn btn-danger" ng-click="revoke(token)" translate>Revoke</a></td>
        </tr>
    </tbody>
</table>

<h2 translate>Add new token</h2>
<ui-select multiple ng-model="roles">
    <ui-select-match placeholder="Select roles...">{{$item}}</ui-select-match>
    <ui-select-choices repeat="role in availableRoles">
        <div ng-bind="role"></div>
    </ui-select-choices>
</ui-select>
{{roles}}
<input type="button" ng-click="add(roles)" value="{{'Add'|translate}}"/>
