<h2 translate>User</h2>

<ul>
	<li>
		<a class="btn btn-primary" href="#/logout" translate>Logout</a>
	</li>
	<li>
		<a class="btn btn-primary" href="#/user/change_password" translate>Change Password</a>
	</li>
	<li>
		<a class="btn btn-primary" href="#/user/otp" translate>Two Factor Authentication</a>
	</li>
	<li>
		<a class="btn btn-primary" href="#/user/tokens" translate>Tokens</a>
	</li>
</ul>

<ul>
	<li ng-repeat="item in controllers">
		<input
				type="checkbox"
				class="big-checkbox"
				ng-model="controller.collapsed"
				ng-change="toggle(controller)"/>
		<i class="glyphicon glyphicon-{{ item.icon }}"></i>
		<span ng-bind="item.name"></span>
	</li>
</ul>
