
input.ng-invalid.ng-touched
  background-color: #ff9995
  color: #fff

// todo use sass nesting syntax
input.ng-invalid.ng-touched::-webkit-input-placeholder
  color: #fff

.checkbox, .radio
  padding-left: 0

.big-checkbox
  width: 20px
  height: 20px
  + span
    line-height: 27px
    vertical-align: top

// source: https://kleinejan.github.io/titatoggle/
.checkbox-slider
  position: relative
  input
    display: block
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    width: 0
    height: 0
    margin: 0 0
    cursor: pointer
    zoom: 1
    -webkit-opacity: 0
    -moz-opacity: 0
    opacity: 0
    + span
      cursor: pointer
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      &:before
        position: absolute
        left: 0
        display: inline-block
        content: ""
        height: 20px
        width: 40px
        background: rgba(100, 100, 100, 0.2)
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8)
        transition: background 0.2s ease-out
      > h4
        display: inline
      padding-left: 40px
      &:after
        width: 20px
        height: 20px
        position: absolute
        left: 0
        top: 0
        display: block
        background: #ffffff
        transition: margin-left 0.1s ease-in-out
        text-align: center
        font-weight: bold
        content: ""
    &:checked + span
      &:after
        margin-left: 20px
        content: ""
      &:before
        transition: background 0.2s ease-in
    + span
      padding-left: 40px
      &:before
        border-radius: 20px
        width: 40px
      &:after
        background: #ffffff
        content: ""
        width: 20px
        border: solid transparent 2px
        background-clip: padding-box
        border-radius: 20px
    &:not(:checked) + span:after
      -webkit-animation: popOut ease-in 0.3s normal
      animation: popOut ease-in 0.3s normal
    &:checked + span
      &:after
        content: ""
        margin-left: 20px
        border: solid transparent 2px
        background-clip: padding-box
        -webkit-animation: popIn ease-in 0.3s normal
        animation: popIn ease-in 0.3s normal
      &:before
        background: #5cb85c
  &.checkbox-slider-md input + span
    &:before, &:after
      border-radius: 30px
  &.checkbox-slider-lg input + span
    &:before, &:after
      border-radius: 40px

