
$backgroundColor: #f9f9f9
$sidebarColor: #333
$logoHeight: 40px
$leftSidebarWidth: 180px
$font-monospaced: Menlo,Monaco,Consolas,monospace

@mixin border($borderRadius:0)
  border: darkgrey 1px solid
  @if $borderRadius > 0
    border-radius: #{$borderRadius}px
