
.user_avatar
    background-image: url("/images/avatar5.png")
    background-size: contain
    height: 54px
    width: 54px

.profile_avatar
    background-image: url("/images/avatar5.png")
    background-size: contain
    z-index: 5
    height: 90px
    width: 90px
    margin: auto

.cursor
    cursor: pointer

.autocomplete ul
    padding-left: 0

input.ng-invalid.ng-touched
    background-color: #fa787e

//input.ng-valid.ng-touched
//    background-color: #78FA89

.big-checkbox
    width: 25px
    height: 25px

.dialog_800 .modal-dialog
    width: 800px

.dialog_900 .modal-dialog
    width: 900px

.dialog_1000 .modal-dialog
    width: 1000px

a.order
    cursor: pointer

