
.form-signin
  max-width: 330px
  padding: 15px
  margin: 0 auto

  .form-signin-heading
    margin-bottom: 10px

  .form-control
    position: relative
    height: auto
    padding: 10px
    font-size: 16px

  input
    margin-bottom: -1px
    border-bottom-right-radius: 0
    border-bottom-left-radius: 0

  button
    border-top-left-radius: 0
    border-top-right-radius: 0


