
.form-register
	max-width: 330px
	padding: 15px
	margin: 0 auto

	.form-register-heading
		margin-bottom: 10px

	.form-control
		position: relative
		height: auto
		padding: 10px
		font-size: 16px

	input, button
		margin-bottom: -1px
		border-radius: 0
