
@import "../common.sass"

$taskWidth: 250px

.task-list
	width: $taskWidth
	float: left
	margin: 0 5px
	height: 500px
	padding-bottom: 15px
	overflow-y: auto

	> input, > textarea
		width: 232px
		margin: 1px 5px

	input
		height: 30px

	input[type="button"]
		width: 100px
		margin: 5px

	.completed .todo-task
		text-decoration: line-through

	.delete-div
		background-color: #fff
		border: 3px dotted #000
		border-radius: 5px
		margin: 10px
		height: 75px
		line-height: 75px
		text-align: center

	.panel-body
		padding: 3px

.todo-task
	@include border(5)

	background-color: #fff
	width: 231px
	margin: 5px
	padding: 5px

	input, textarea
		width: 219px

	> .task-header
		font-weight: bold

	> .task-date
		font-size: small
		font-style: italic

	> .task-deadline
		font-size: small
		font-style: italic

	> .task-description, .todo-task > .task-user
		font-size: smaller
		width: 200px
