<div class="panel panel-default">
	<div class="panel-heading">{% block title %}{{ title }}{% endblock %}</div>
	<div class="panel-body">
		{% block content %}{{ content }}{% endblock %}
	</div>
</div>