.dashboard .widget {
    border: 1px #727272 solid;
}

.dashboard .widget .panel-heading {
    font-weight: bold;
}

.dashboard .as-sortable-placeholder .panel-body {
    font-weight: bold;
}

.dashboard > .container {
    margin-left: 0;
    margin-right: 0;
}
