#chart_container .legend {
    display: inline-block;
    position: relative;
    left: 8px;
}

#chart_container .chart {
    position: relative;
}

#chart_container .y_axis {
    position: absolute;
    top: 200px;
    bottom: 0;
    width: 40px;
}

.sensorColorPicker {
    border:darkgrey 1px solid;
    width: 20px;
    height: 20px
}
