
<div class="btn-group" role="group">
    <a
            ng-repeat="time in ::times"
            ng-click="start(time)"
            class="btn btn-default"
            >
        {{time}}
    </a>
    <a ng-click="prompt()" class="btn btn-default">
        <span class="glyphicon glyphicon-question-sign"></span>
    </a>
</div>

<a ng-if="job" confirm="stop(job)" class="btn btn-danger">
    <job-progress job="::job.timestamp"></job-progress>
    &nbsp;
    <span class="glyphicon glyphicon-remove-sign"></span>
</a>
