
<div class="btn-group" role="group">
    <a
            ng-repeat="time in times"
            ng-click="start(time)"
            class="btn btn-default"
            >
        {{ time }}
    </a>
    <a ng-click="prompt()" class="btn btn-default">
        <span class="glyphicon glyphicon-question-sign"></span>
    </a>

    <a ng-if="job" ng-click="stop(job)" class="btn btn-default">
        <span class="glyphicon glyphicon-remove-sign">
            <span ng-include="job.timestamp" time-ago="job.timestamp"></span>
        </span>
    </a>
</div>
