<div class="modal-content">
	<div class="modal-header">
		<button
                ng-click="close()"
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true">&times;</button>
		<h4 class="modal-title" translate>Add Widget</h4>
	</div>
	<div class="modal-body navbar-forms navbar-lefts">
		<div class="row">
			<div class="col-lg-5">
				<div class="input-group">
					<span class="input-group-addon" translate>Dashboard</span>
					<select
							ng-options="dashboard.dashboardId as dashboard.name for dashboard in dashboards"
							ng-model="dashboardId"
                            class="form-control">
                        <option value="" translate>New Dashboard</option>
					</select>
				</div>
			</div>
            <div class="col-lg-5">
				<div class="input-group">
					<span class="input-group-addon" translate>Type</span>
					<select
							ng-options="widget as widget.name for widget in widgets"
							ng-model="widget"
                            ng-change="payload = {}"
                            class="form-control">
					</select>
				</div>
			</div>
			<div class="col-lg-5">
				<div class="form-group">
                    <div ng-repeat="(type, parameter) in widget.parameters">

                        <label>{{parameter.name}}</label>

                        <ui-select ng-if="parameter.type == 'multi_select'" multiple ng-model="payload[type]" style="width: 300px">
                            <ui-select-match placeholder="Select...">
                                {{$item.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="element.key as element in parameter.values|toObjectArray">
                                {{element.value}}
                            </ui-select-choices>
                        </ui-select>

                        <ui-select ng-if="parameter.type == 'single_select'" ng-model="payload[type]" style="width: 300px">
                            <ui-select-match placeholder="Select...">
                                {{$select.selected.value}}
                            </ui-select-match>
                            <ui-select-choices repeat="element.key as element in parameter.values|toObjectArray">
                                {{element.value}}
                            </ui-select-choices>
                        </ui-select>

                        <input
                                ng-if="parameter.type == 'text'"
                                ng-model="payload[type]"
                                type="text"
                                class="form-control input-sm" />

						Debug only: {{payload[type]}}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" ng-click="addWidget(dashboardId, widget)" class="btn btn-primary">Add</button>
	</div>
</div>


