<label ng-bind="::sensor.name"></label>

<sensor-spark-line
        ng-if="::showSparkLine"
        sensor-id="::sensor.sensorId"
        parameters="'?from=86400'">
</sensor-spark-line>

<div class="input-group" role="group">
    <input
            class="form-control"
            type="text"
            ng-model="value"
            ng-enter="submit(value)"
            placeholder="{{'Current value'|translate}}: {{sensor.lastValue}}"
            />
    <a
        ng-click="submit(value)"
        uib-tooltip="{{'Submit'|translate}}"
        class="input-group-addon btn btn-default"
    >
        <span class="glyphicon glyphicon-play"></span>
    </a>
</div>
