<table ng-if="sensor|notEmpty" class="table table-bordered table-striped table-hover">
    <tr>
        <td colspan="3">
            <sensor-spark-line sensor-id="sensor.sensorId" parameters="'?from=86400'"></sensor-spark-line>
        </td>
    </tr>
    <tr>
        <th translate>Current</th>
        <td>
            {{format(value)}}
        </td>
        <td>
            <small>
                <time-ago from-time="sensor.lastValueTimestamp"></time-ago>
            </small>
            <a
                    ng-click="reload()"
                    uib-tooltip="{{'Reload'|translate}}"
                    class="btn btn-default btn-sm glyphicon glyphicon-repeat pull-right">
            </a>
        </td>
    </tr>
    <tr>
        <th translate>Min</th>
        <td>
            {{::format(stats.min.value)}}
        </td>
        <td>
            <time-ago from-time="stats.min.timestamp"></time-ago>
        </td>
    </tr>
    <tr>
        <th translate>Max</th>
        <td>
            {{::format(stats.max.value)}}
        </td>
        <td>
            <time-ago from-time="stats.max.timestamp"></time-ago>
        </td>
    </tr>
    <tr>
        <th translate>Avg</th>
        <td colspan="2">
            {{::format(stats.avg)}}
        </td>
    </tr>
    <tr>
        <th translate>Median</th>
        <td colspan="2">
            {{::format(stats.median)}}
        </td>
    </tr>
    <tr>
        <th translate>Trend</th>
        <td colspan="2">
            <span class="glyphicon glyphicon-arrow-{{stats.lastChange == 0 ? 'right' : (stats.lastChange > 0 ? 'up' : 'down')}}" uib-tooltip="{{format(stats.lastChange)}}"></span>
        </td>
    </tr>
</table>
