<ul class="unstyled">
    <li ng-repeat="todo in shoppingList|orderBy:'text'">
        <label>
            <input
                    type="checkbox"
                    ng-change="change(todo)"
                    ng-model="todo.done"
                    class="big-checkbox"
            />
            <span ng-class="{completed:todo.done}" ng-bind="todo.text"></span>
        </label>
    </li>
</ul>
<form>
    <div class="input-group">
        <input
                type="text"
                ng-model="todoText"
                class="form-control"
                size="30"
                placeholder="{{'Add an item'|translate}}"
                ng-enter="addShoppingItem()"
                />
        <a ng-click="addShoppingItem()" uib-tooltip="{{'Add'|translate}}" class="input-group-addon">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</form>
