<div ng-repeat="(statusId, status) in states" ng-if="items|toArray|filter:statusId|notEmpty">
    <h4 ng-click="status.hidden = !status.hidden">{{statusId|translateToken:'todo.status.{0}.name'}} ({{(items|filter:statusId).length}})</h4>
    <ul ng-hide="status.hidden">
        <li ng-repeat="item in items|filter:statusId|orderBy:'name'" >
            <span uib-tooltip="item.description">{{item.name}}</span>
            <div ng-if="item.deadline > 0">
                <time-ago from-time="item.deadline" overdue="true"></time-ago>
            </div>&nbsp;
            <br />
            <div class="btn-group btn-group-xs">
                <a
                        ng-repeat="nextStatus in status.next"
                        class="btn btn-xs btn-success status-change"
                        ng-click="setStatus(item, nextStatus)">
                    {{nextStatus|translateToken:'todo.status.{0}.name' || 'Delete'|translate}}
                </a>
            </div>
        </li>
    </ul>
</div>

<div class="input-group" role="group">
    <input
            ng-model="newTitle"
            ng-enter="addTodo(newTitle)"
            type="text"
            class="form-control"
            placeholder="{{'Title'|translate}}"
            />
    <a
            ng-click="addTodo(newTitle)"
            class="input-group-addon btn btn-default"
            uib-tooltip="{{'Add'|translate}}"
            >
        <span class="glyphicon glyphicon-plus"></span>
    </a>
</div>
