<div class="btn-group btn-group-lg" role="group">
    <a class="btn btn-default" ng-click="takeShot()" tooltip="{{'Take Photo'|translate}}">
        <span class="glyphicon glyphicon-picture"></span>
    </a>
    <a class="btn btn-default" ng-click="takeVideo()" tooltip="{{'Take Video'|translate}}">
        <span class="glyphicon glyphicon-hd-video"></span>
    </a>
    <a class="btn btn-default" ng-click="takeSound()" tooltip="{{'Take Sound'|translate}}">
        <span class="glyphicon glyphicon-bullhorn"></span>
    </a>
    <a href="#camera" class="btn btn-default" tooltip="{{'Go to files'|translate}}">
        <span class="glyphicon glyphicon-link"></span>
    </a>
</div>
