<div class="btn-group btn-group-lg" role="group">
    <a class="btn btn-default" ng-click="takeShot()" uib-tooltip="{{'Take Photo'|translate}}">
        <span class="glyphicon glyphicon-picture"></span>
    </a>
    <a class="btn btn-default" ng-click="takeVideo()" uib-tooltip="{{'Take Video'|translate}}">
        <span class="glyphicon glyphicon-hd-video"></span>
    </a>
    <a class="btn btn-default" ng-click="takeSound()" uib-tooltip="{{'Take Sound'|translate}}">
        <span class="glyphicon glyphicon-bullhorn"></span>
    </a>
    <a href="#camera" class="btn btn-default" uib-tooltip="{{'Go to files'|translate}}">
        <span class="glyphicon glyphicon-link"></span>
    </a>
</div>

<div ng-if="recent">
    <a ng-href="/webcam/file/?file={{ recent.webPath }}" target="_blank">
        <img
                ng-src="/webcam/file/?file={{ recent.webPath }}"
                class="img-thumbnail thumbnail"/>
    </a>
    <time-ago from-time="recent.timestamp"></time-ago>
</div>
