
.widget_sensor_graph .chart_container {
}

.widget_sensor_graph .legend {
    text-align: center;
}

.widget_sensor_graph .chart {
    position: relative;
}

.widget_sensor_graph .y_axis {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 30px;
    width: 40px;
}
