
<div class="panel panel-primary">
    <div class="panel-heading">
        <span translate>Action</span>
        <div class="btn-group btn-group-xs pull-right">
            <a ng-click="editExpression = null" class="btn btn-danger">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" ng-submit="save(editExpression)">
            <div class="form-group">
                <label class="col-sm-2 control-label" translate>Name</label>
                <div class="col-sm-10">
                    <input
                            type="text"
                            ng-max-length="32"
                            class="form-control"
                            ng-model="editExpression.expressionId"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" translate>Enable</label>
                <div class="col-sm-10">
                    <checkbox ng-model="editExpression.enabled"></checkbox>
                </div>
            </div>
            <div class="form-group">
                <h4 translate>Conditions</h4>
            </div>
            <div class="form-group" ng-repeat="(key, condition) in editExpression.conditions track by $index">
                <label>{{ $index + 1 }}.)&nbsp;</label>
                <p>
                    <expression-parameter
                            functions="functions.triggers"
                            type="condition"
                            parameter="editExpression.conditions[$index]"></expression-parameter>
                    <div class="btn-group">
                        <a
                                ng-if="condition && $index == editExpression.conditions.length - 1"
                                class="btn btn-success"
                                ng-click="addCondition(editExpression)"
                        >
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a
                                ng-if="editExpression.conditions.length > 1"
                                class="btn btn-danger"
                                ng-click="deleteCondition($index)"
                        >
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                </p>
            </div>

            <div class="form-group">
                <h4 translate>Actions</h4>
            </div>
            <div class="form-group" ng-repeat="(key, action) in editExpression.actions track by $index">
                <label>{{ $index + 1 }}.)&nbsp;</label>
                <div>
                    <expression-parameter
                            type="action"
                            parameter="editExpression.actions[$index]"
                            functions="functions.actions">
                    </expression-parameter>

                    <div class="btn-group">
                        <a
                                ng-if="action"
                                ng-click="evaluateAction(editExpression, action)"
                                uib-tooltip="{{'Evaluate'|translate}}"
                                class="btn btn-success"
                        >
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                        <a
                                ng-if="action && $index == editExpression.actions.length - 1"
                                class="btn btn-success"
                                ng-click="addAction(editExpression)"
                        >
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a
                                ng-if="editExpression.actions.length > 1"
                                class="btn btn-danger"
                                ng-click="deleteAction($index)"
                        >
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                </div>
            </div>

            <button
                    class="btn btn-lg btn-primary btn-block"
                    ng-disabled="pending"
                    type="submit"
                    translate
            >
                Save
            </button>
        </form>
    </div>
</div>
