<hr />

<div class="panel panel-primary">
    <div class="panel-heading" translate>Action</div>
    <div class="panel-body">
        <form role="form" ng-submit="save(editExpression)">
            <div class="form-group" ng-if="editExpression.new">
                <label translate>Name</label>
                <input
                        type="text"
                        ng-max-length="32"
                        class="form-control"
                        ng-model="editExpression.expressionId"
                />
            </div>
            <div class="form-group">
                <label translate>Enabled</label>
                <p>
                    <input class="big-checkbox" type="checkbox" ng-model="editExpression.enabled"/>
                </p>
            </div>

            <div class="form-group">
                <h4 translate>Conditions</h4>
            </div>
            <div class="form-group" ng-repeat="(key, condition) in editExpression.conditions track by $index">
                <label>{{ $index + 1 }}.)&nbsp;</label>
                <p>
                    <expression-parameter
                            functions="functions.triggers"
                            type="condition"
                            parameter="editExpression.conditions[$index]"></expression-parameter>
                    <div class="btn-group">
                        <a
                                ng-if="condition && $index == editExpression.conditions.length - 1"
                                class="btn btn-success"
                                ng-click="addCondition(editExpression)"
                        >
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a
                                ng-if="editExpression.conditions.length > 1"
                                class="btn btn-danger"
                                ng-click="deleteCondition($index)"
                        >
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                </p>
            </div>

            <div class="form-group">
                <h4 translate>Actions</h4>
            </div>
            <div class="form-group" ng-repeat="(key, action) in editExpression.actions track by $index">
                <label>{{ $index + 1 }}.)&nbsp;</label>
                <div>
                    <expression-parameter
                            type="action"
                            parameter="editExpression.actions[$index]"
                            functions="functions.actions">
                    </expression-parameter>

                    <div class="btn-group">
                        <a
                                ng-if="action"
                                ng-click="evaluateAction(editExpression, action)"
                                uib-tooltip="{{'Evaluate'|translate}}"
                                class="btn btn-success"
                        >
                            <span class="glyphicon glyphicon-play"></span>
                        </a>
                        <a
                                ng-if="action && $index == editExpression.actions.length - 1"
                                class="btn btn-success"
                                ng-click="addAction(editExpression)"
                        >
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                        <a
                                ng-if="editExpression.actions.length > 1"
                                class="btn btn-danger"
                                ng-click="deleteAction($index)"
                        >
                            <span class="glyphicon glyphicon-minus"></span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="form-group" ng-if="editExpression.payload|notEmpty">
                <label translate>Payload</label>
            </div>

            <div class="form-group" ng-repeat="(key, value) in editExpression.payload">
                <label class="control-label">{{ key }}:&nbsp</label>
                <div class="input-group">
                    <input ng-model="value" class="form-control" type="text"/>
                    <a ng-click="deleteParameter(editExpression, key)" class="input-group-addon btn btn-danger">
                        <span class="glyphicon glyphicon-minus"></span>
                    </a>
                </div>
            </div>

            <button
                    class="btn btn-lg btn-primary btn-block"
                    ng-disabled="pending"
                    type="submit"
                    translate
            >
                Save
            </button>
        </form>
    </div>
</div>
