
<button ng-click="newExpression()" class="btn btn-primary" translate>New Action</button>
<button ng-if="!showDisabled" ng-click="showDisabledExpression(true)" class="btn btn-primary" translate>Show disabled</button>
<button ng-if="showDisabled" ng-click="showDisabledExpression(false)" class="btn btn-primary" translate>Hide disabled</button>

<div
        ng-if="editExpression"
        ng-include="'/templates/expression/edit.html'"></div>

<hr />

<div
        ng-if="expressions|notEmpty"
        ng-include="'/templates/expression/list.html'"></div>

<h2 translate>Crons</h2>
<div ng-include="'/templates/crons.html'"></div>
