
<div class="btn-group">
    <button ng-if="!editExpression" ng-click="newExpression()" class="btn btn-primary" translate>New Action</button>
    <button ng-if="!showDisabled" ng-click="showDisabledExpression(true)" class="btn btn-primary" translate>Show disabled</button>
    <button ng-if="showDisabled" ng-click="showDisabledExpression(false)" class="btn btn-primary" translate>Hide disabled</button>

    <button ng-if="!editMode" ng-click="setEditMode(true)" class="btn btn-primary" translate>Edit mode</button>
    <button ng-if="editMode" ng-click="setEditMode(false)" class="btn btn-success" translate>Edit mode</button>
</div>

<br />

<input ng-model="search" class="expression-search form-control" placeholder="{{'Search'|translate}}"/>

<div
        ng-if="editExpression"
        ng-include="'/templates/expression/edit.html'"></div>

<div
        ng-if="expressions|notEmpty"
        ng-include="'/templates/expression/list.html'"></div>

<div
        ng-if="(crons|notEmpty) || editMode"
        ng-include="'/templates/crons.html'"></div>
