<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th translate>Id</th>
            <th ng-if="editMode" translate>Enabled</th>
            <th translate>Condition</th>
            <th translate>Actions</th>
            <th translate>Payload</th>
            <th ng-if="editMode"><span class="glyphicon glyphicon-edit"></span></th>
            <th ng-if="editMode"><span class="glyphicon glyphicon-remove"></span></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(expressionId, expression) in expressions" ng-if="showDisabled || expression.enabled">
        <td>
            {{expression.expressionId}}
        </td>
        <td ng-if="editMode">
            <input
                    class="big-checkbox"
                    type="checkbox"
                    ng-model="expression.enabled"
                    ng-change="save(expression)"
            />
        </td>
        <td>
            <ul>
                <li ng-repeat="condition in expression.conditions">
                    <code>{{ condition }}</code>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li ng-repeat="action in expression.actions">
                    <code>
                        {{ action }}
                    </code>
                    <a ng-click="evaluateAction(expression, action)" uib-tooltip="{{'Evaluate'|translate}}" class="btn btn-xs btn-success">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                </li>
            </ul>
        </td>
        <td>
            <ul>
                <li ng-repeat="(key, value) in expression.payload">{{key}}: {{ value }}</li>
            </ul>
        </td>
        <td ng-if="editMode">
            <a
                    ng-click="edit(expression)"
                    class="cursor btn btn-default btn-sm"
            >
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        </td>
        <td ng-if="editMode">
            <a confirm="delete(expressionId)" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
