
<table ng-if="searchExpression(search)|notEmpty" class="table table-bordered table-striped table-hover expression-table">
    <thead>
        <tr>
            <th translate>Name</th>
            <th ng-if="editMode || showDisabled" translate>Enabled</th>
            <th translate>Condition</th>
            <th translate>Actions</th>
            <th ng-if="editMode" translate>Payload</th>
            <th ng-if="editMode"><span class="glyphicon glyphicon-edit"></span></th>
        </tr>
    </thead>
    <tbody>
    <tr ng-repeat="expression in searchExpression(search)">
        <td>
            {{expression.expressionId}}
        </td>
        <td ng-if="editMode || showDisabled">
            <checkbox
                ng-model="expression.enabled"
                ng-change="save(expression)"
            ></checkbox>
        </td>
        <td>
            <ul>
                <li ng-repeat="condition in expression.conditions">
                    <code>{{ condition }}</code>
                </li>
            </ul>
        </td>
        <td class="actions">
            <ul>
                <li ng-repeat="action in expression.actions">
                    <a ng-click="evaluateAction(expression, action)" uib-tooltip="{{'Evaluate'|translate}}" class="btn btn-xs btn-success">
                        <span class="glyphicon glyphicon-play"></span>
                    </a>
                    <code>
                        {{ action }}
                    </code>
                </li>
            </ul>
        </td>
        <td ng-if="editMode">
            <ul>
                <li ng-repeat="(key, value) in expression.payload">{{key}}: {{ value }}</li>
            </ul>
        </td>
        <td ng-if="editMode">
            <div class="btn-group btn-group-sm">
                <a
                        ng-click="edit(expression)"
                        class="btn btn-sm btn-default"
                >
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                <a confirm="delete(expression.expressionId, $index)" class="btn btn-sm btn-danger">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </div>
        </td>
    </tr>
    </tbody>
</table>
