{% extends "layout.html.twig" %}

{% block title %}Todo List{% endblock %}

{% block content %}
	<div class="task-list">
		<h3>Add a task</h3>
		<form id="todo-form">
			<input type="text" placeholder="Title" />
			<textarea placeholder="Description"></textarea>
			<input type="text" class="datetimepicker" placeholder="Deadline" />
			<input type="button" class="btn btn-primary" value="Add Task" onclick="App.Todo.add();" />
		</form>
		<div id="delete-div">
			Drag Here to Delete
		</div>
	</div>
	<div class="task-list task-container" id="pending">
		<h3>Pending</h3>
	</div>
	<div class="task-list task-container" id="progress">
		<h3>In Progress</h3>
	</div>
	<div class="task-list task-container" id="completed">
		<h3>Completed</h3>
	</div>

	<div style="clear:both;"></div>
	<script src="{{ asset_url("todo.js") }}"></script>
	<script type="text/javascript">
		App.Todo.init({{ list|json_encode()|raw }}, {{ user_names|json_encode()|raw }});
	</script>
{% endblock %}

