<!DOCTYPE html>
<html
        ng-app="homie"
        ng-controller="LayoutController"
        >
<head>
    <title ng-bind="title" translate>Homie</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link href="/common.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <a href="/#index" class="logo" translate>Homie</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" id="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div class="navbar-right">
                <ul ng-if="isLoggedIn()" class="nav navbar-nav">
                    <!-- User Account: style can be found in dropdown.less -->
                    <li class="dropdown user user-menu" dropdown>
                        <a href="#/user/" class="dropdown-toggle" dropdown-toggle>
                            <i class="glyphicon glyphicon-user"></i>
                            <span ng-bind="currentUser.username"></span> <i class="caret"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header bg-light-blue">
                                <div class="profile_avatar img-circle"></div>
                                <p>
                                    <span ng-bind="currentUser.username"></span>
                                </p>
                            </li>
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#/user" class="btn btn-default btn-flat" translate>Profile</a>

                                    <a
                                            ng-click="changeLanguage(lang)"
                                            ng-repeat="locale in locales"
                                            class="btn btn-default btn-flat"
                                            ng-bind="locale"
                                            >
                                    </a>
                                </div>
                                <div class="pull-right">
                                    <a href="#/logout" class="btn btn-default btn-flat" translate>Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div id="wrapper" class="row-offcanvas row-offcanvas-left">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div ng-if="isLoggedIn()">
                        <div class="pull-left image">
                            <div ng-click="flushCache()" class="user_avatar img-circle"></div>
                        </div>
                        <div class="pull-left info">
                            <p translate>Hello {{ currentUser.username }}!</p>
                        </div>
                    </div>
                    <ul class="sidebar-menu" ng-controller="MenuController">
                        <li ng-repeat="item in menu">
                            <a href="/#{{ item.url }}">
                                <i class="glyphicon glyphicon-{{ item.icon }}"></i>
                                <span ng-bind="item.name"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </aside>
        <aside class="right-side">
            <section class="content-header">
                <div ng-repeat="flash in flashBag" class="alert alert-{{ flash.type }} alert-dismissable">
                    <button type="button" class="close" ng-click="removeFlash($index)">&times;</button>
                    <span ng-bind="flash.message"></span>
                </div>
            </section>
            <section class="content" ng-cloak>
                <ng-view></ng-view>
            </section>
        </aside>
    </div>
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
</body>
</html>
