<!DOCTYPE html>
<html
        ng-app="homie"
        ng-controller="LayoutController"
        ng-strict-di
        manifest="manifest.appcache"
        >
<head>
    <title ng-bind="title" translate>Homie</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/app.css">
    <link rel="manifest" href="/manifest.json">
</head>
<body>
    <header class="header">
        <a href="/#index" class="logo" translate>Homie</a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <a href="#" class="navbar-btn sidebar-toggle" id="offcanvas" role="button">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <ul ng-if="isLoggedIn" class="navbar-right nav navbar-nav" ng-include="'/templates/layout/user-dropdown.html'"></ul>
        </nav>
    </header>

    <div class="row-offcanvas">
        <aside class="left-side sidebar-offcanvas">
            <section class="sidebar">
                <div class="user-panel">
                    <div ng-if="isLoggedIn" ng-include="'/templates/layout/left-user.html'"></div>
                    <ul class="sidebar-menu" ng-controller="MenuController">
                        <li ng-repeat="item in menu">
                            <a href="/#{{item.url}}">
                                <i class="glyphicon glyphicon-{{item.icon}}"></i>
                                <span ng-bind="item.name"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
        </aside>
        <aside class="right-side">
            <section class="content-header" ng-controller="FlashController" >
                <div ng-repeat="flash in flashBag" class="alert alert-{{flash.type}} alert-dismissable">
                    <button class="close" ng-click="removeFlash($index)">&times;</button>
                    <span ng-bind="flash.message"></span>
                </div>
            </section>
            <section class="content" ng-view>
            </section>
        </aside>
    </div>
    <script src="/vendor.js"></script>
    <script src="/app.js"></script>
</body>
</html>
