<div class="pull-left image">
    <div
            ng-click="flushCache()"
            ng-style="{'backgroundImage':'url(\'/images/' + currentUser.avatar + '\')'}"
            class="user_avatar img-circle"
    ></div>
</div>

<div class="menu-buttons btn-group btn-group-xs" ng-if="speechRecognition">
    <a uib-tooltip="{{'Start voice recognition'|translate}}" ng-click="speechRecognition.speechRecognition()" class="btn btn-danger">
        <span class="glyphicon glyphicon-record"></span>
    </a>
</div>

<div class="pull-left info">
    <a href="#/user" translate>Hello {{currentUser.username}}!</a>
</div>
