{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
	<form action="/register/register/" method="POST">
		<input type="text" name="username" class="form-control"/>
		<input type="password" name="password" class="form-control"/>
		<input type="submit" value="Register" class="btn btn-default"/>
	</form>
{% endblock %}