<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only" translate>Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-repeat="(user_name, user_id) in users" class="btn-group" ng-class="{active:activeUserId==user_id}">
					<a href="#blog/{{ user_id }}/">
						{{ user_name }}
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<a class="btn btn-primary" href="#mood" translate>Mood</a>
<hr/>

<form ng-if="activeUserId == currentUserId" style="width: 400px;" role="form">
	<h2 translate>Add Post</h2>
	<input
            type="text"
            ng-enter="addPost(post)"
            ng-model="post.text"
            class="form-control"
            placeholder="{{'Text'|translate}}"
            required
            autofocus
    >

	<ui-select ng-model="post.mood" ng-enter="addPost(post)">
		<ui-select-match placeholder="Select role...">{{$select.selected}}</ui-select-match>
		<ui-select-choices repeat="newMood in [1,2,3,4,5,6,6,7,8,9,10] track by $index">
			<span class="blog_mood blog_mood_{{ newMood }}">{{ newMood }}/10</span>
		</ui-select-choices>
	</ui-select>
	<button
            class="btn btn-lg btn-primary btn-block"
            ng-disabled="pending"
            ng-click="addPost(post)"
            type="button"
            translate
    >
        Submit
    </button>
</form>

<hr />
<table ng-if="posts|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Time</th>
			<th translate>Mood</th>
			<th translate>Text</th>
			<th><span class="glyphicon glyphicon-remove"></span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(timestamp, post) in posts">
			<td>{{ timestamp|timeAgo }}</td>

			<td>
				<span ng-if="post.mood" class="blog_mood blog_mood_{{ post.mood }}">{{ post.mood }}</span>
			</td>
			<td>{{ post.text }}</td>
			<td>
				<a ng-click="deletePost(timestamp)" class="glyphicon glyphicon-remove"></a>
			</td>
		</tr>
	</tbody>
</table>
