<h2 translate>Crons</h2>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th translate>Cron-ID</th>
            <th translate>Next Run</th>
            <th translate>Expression</th>
            <th ng-if="editMode" translate>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="cron in crons">
            <th>
                <span class="tip">{{cron.event.event.timingId}}</span>
            </th>
            <th>
                <job-progress job="cron" overdue="true"></job-progress>
            </th>
            <th>{{cron.event.expression}}</th>
            <td ng-if="editMode">
                <a confirm="deleteCron(cron.jobId)" class="btn btn-danger btn-sm">
                    <span class="glyphicon glyphicon-remove"></span>
                </a>
            </td>
        </tr>
    </tbody>
    <tfoot ng-if="editMode">
        <tr>
            <th>
                <input
                        type="text"
                        placeholder="{{'Timing-ID'|translate}}"
                        ng-click="addCron(cron)"
                        ng-model="cron.cronId"
                        class="form-control"/>
            </th>
            <th colspan="2">
                <input
                        type="text"
                        placeholder="{{'e.g. @daily, or 2 * * * *'|translate}}"
                        ng-click="addCron(cron)"
                        ng-model="cron.expression"
                        class="form-control"/>
            </th>
            <th>
                <input
                        type="button"
                        ng-click="addCron(cron)"
                        class="btn btn-primary"
                        value="{{'Add'|translate}}" />
            </th>
        </tr>
    </tfoot>
</table>
