<h2>Dashboard</h2>
<div class="span-9 dashboard">
	<div class="row">
		<div class="col-xs-6" ng-repeat="widget in dashboard">
			<div class="panel panel-default widget" ng-controller="WidgetController">
				<div class="panel-heading" ng-click="widget.open = !widget.open">
					{{ title }}
					<span ng-click="deleteWidget(widget.id)" class="delete glyphicon glyphicon-remove"></span>
				</div>
				<div class="panel-body" ng-show="widget.open" ng-bind-html="content">
				</div>
			</div>
		</div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading" ng-click="openModal()">Add Widget</div>
</div>
