<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="dashboard-navbar navbar-collapse collapse" ng-class="{collapse:!isCollapsed}">
            <ul class="nav navbar-nav">
                <li
                        ng-repeat="(dashboardId, tmp_dashboard) in dashboards"
                        class="cursor"
                        ng-class="{active:tmp_dashboard==dashboard}"
                >
                    <a
                            class="dashboard-navbar-name"
                            ng-click="selectDashboard(tmp_dashboard)"
                    >
                        {{ tmp_dashboard.name }}
                    <span
                            ng-if="editMode"
                            confirm="deleteDashboard(dashboard.dashboardId)"
                            confirm-text="{{'Are you sure?'|translate}}"
                            class="btn btn-danger btn-xs delete glyphicon glyphicon-remove cursor"
                            uib-tooltip="Delete">
                    </span>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="btn-group btn-group">
                    <a
                            class="btn btn-default"
                            ng-click="openModal(dashboards, dashboard)"
                            uib-tooltip="{{'New Widget'|translate}}">
                        <span class="glyphicon glyphicon-plus cursor"></span>
                    </a>
                    <a
                            class="btn btn-default"
                            ng-click="editMode = !editMode"
                            uib-tooltip="{{'Edit'|translate}}">
                        <span class="glyphicon glyphicon-edit cursor"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ng-if="dashboard" class="span-9 dashboard">
    <h2 ng-if="!editMode" ng-bind="dashboard.name"></h2>

    <div ng-if="editMode">
        <div class="input-group" style="width: 400px">
            <span class="input-group-addon" translate>Name</span>
            <input
                    type="text"
                    ng-model="dashboard.name"
                    class="form-control"
                    />
            <span class="input-group-addon">
                <a ng-click="saveDashboard(dashboard)" class="cursor" translate>Save</a>
            </span>
        </div>
        <br/>
    </div>
    <div class="container-lg"
         ui-sortable="{ 'ui-floating': true }"
         is-disabled="!editMode"
         as-sortable="dragControlListeners"
         ng-model="dashboard.widgets">
        <div
                class="col-md-{{metadata(widget, 'width')}} as-sortable-item"
                ng-repeat="widget in dashboard.widgets"
                as-sortable-item
                >
            <div class="panel panel-default widget" ng-controller="WidgetController"
                 ng-init="widgetMetadata = metadata(widget)">
                <div
                        class="panel-heading as-sortable-item-handle"
                        as-sortable-item-handle
                        ng-click="toggleWidget(widget, dashboard)"
                        >
                    {{ title }}

                    <div class="btn-group btn-group-xs pull-right" role="group" ng-if="editMode">
                        <a
                                class="btn btn-default"
                                ng-click="editWidget(dashboard.dashboardId, widget); $event.stopPropagation()"
                                uib-tooltip="{{'Edit'|translate}}">
                                <span
                                        class="glyphicon glyphicon-edit cursor"
                                        >
                                </span>
                        </a>
                        <a
                                class="btn btn-danger"
                                confirm="deleteWidget(dashboard.dashboardId, widget.id); $event.stopPropagation()"
                                confirm-text="{{'Are you sure?'|translate}}"
                                uib-tooltip="{{'Delete'|translate}}">
                                <span
                                        class="glyphicon glyphicon-remove cursor"
                                        >
                                </span>
                        </a>
                    </div>
                </div>
                <div
                        class="panel-body widget_{{widget.type}}"
                        id="widget_{{widget.id}}"
                        style="min-height:{{metadata(widget, 'height')*30+'px'}}"
                        ng-show="widget.open">
                    <content-item widget="widget"></content-item>
                </div>
            </div>
        </div>
    </div>
</div>
