<form ng-submit="save(currentScreen)" class="form-horizontal">
	<div class="form-group">
		<div class="col-sm-3">
			<input
					ng-model="currentScreen.lines"
					type="number"
					class="form-control input-lg"
					placeholder="{{'Lines'|translate}}"
					/>
		</div>
		<div class="col-sm-3">
			<input
					ng-model="currentScreen.columns"
					type="number"
					class="form-control input-lg"
					placeholder="{{'Columns'|translate}}"
					/>
		</div>
	</div>
	<h3 translate>Lines</h3>
	<div class="form-inline" ng-repeat="line in currentScreen.content track by $index">
		<label class="pull-left">{{ $index+1 }}:&nbsp</label>
		<input ng-model="currentScreen.content[$index]" class="form-control" type="text"/>
	</div>
	<a ng-click="currentScreen.content.push('\'\'')" class="btn btn-primary glyphicon glyphicon-plus"></a>

	<button type="submit" class="btn btn-primary" translate>Submit</button>
</form>

<div ng-repeat="screen in screens">
	<h2 translate>Screen {{screen.displayId}}</h2>
	<textarea
			cols="{{screen.columns}}"
			rows="{{screen.lines}}"
			style="font-family: monospace"
	>{{screen.rendered|join}}</textarea>
	<button type="button" class="btn btn-primary" ng-click="currentScreen = screen" translate>Edit</button>

</div>
