<div class="panel panel-primary">
	<div class="panel-heading" translate>Egg Timer</div>
	<div class="panel-body">
		<form ng-submit="addTimer()" class="form-horizontal">
			<div class="form-group">
				<label for="eggTimerTextInput" class="col-sm-2 control-label" translate>Text</label>
				<div class="col-sm-10">
					<input
							ng-model="text"
							ng-enter="addTimer()"
							type="text"
							class="form-control input-lg"
							id="eggTimerTextInput"
							placeholder="{{'Text'|translate}}"
							/>
				</div>
			</div>
			<div class="form-group">
				<label for="eggTimerTimeInput" class="col-sm-2 control-label" translate>Delay</label>
				<div class="col-sm-10">
					<input
							ng-model="time"
							ng-enter="addTimer()"
							type="text"
							class="form-control input-sm"
							id="eggTimerTimeInput"
							placeholder="15m"
							/>
					<span class="help-block" translate>e.g. 10s, 30m, 1h</span>
				</div>
			</div>
			<button type="submit" class="btn btn-primary btn-lg" translate>Submit</button>
		</form>
	</div>
</div>

<table ng-if="jobs|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Time</th>
			<th translate>Text</th>
			<th translate>Delete</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-repeat="(job_id, job) in jobs">
			<td>
				<time-ago from-time="job.timestamp" overdue="true"></time-ago>
			</td>
			<td>{{ job.event.espeak.text || "--" }}</td>
			<td>
				<a confirm="deleteTimer(job_id)" class="btn btn-danger btn-sm">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			</td>
		</tr>
	</tbody>
</table>
