{{jobs|objectSize}}
<div class="panel panel-primary">
	<div class="panel-heading" translate>Speak</div>
	<div class="panel-body">
		<form ng-submit="addEspeak()" class="form-horizontal">
			<div class="form-group">
				<label for="espeakTextInput" class="col-sm-2 control-label" translate>Text</label>
				<div class="col-sm-10">
					<input ng-model="text" type="text" class="form-control input-lg" id="espeakTextInput" placeholder="Text">
				</div>
			</div>
			<div class="form-group">
				<label for="espeakDelayInput" class="col-sm-2 control-label" translate>Delay</label>
				<div class="col-sm-10">
					<input
							ng-model="delay"
							ng-enter="addEspeak()"
							type="text"
							class="form-control input-sm"
							id="espeakDelayInput"
							placeholder="1h"
							>
					<span class="help-block" translate>e.g. 10s, 30m, 1h</span>
				</div>
			</div>
			<div class="form-group">
				<label for="espeakVolumeInput" class="col-sm-2 control-label" translate>Volume</label>
				<div class="col-sm-10">
					<input
							ng-model="volume"
							type="number"
							ng-enter="addEspeak()"
							value="100"
							min="1"
							max="300"
							class="form-control input-sm"
							id="espeakVolumeInput"
							placeholder="100"
					>
				</div>
			</div>

			<div class="form-group">
				<label for="espeakSpeedInput" class="col-sm-2 control-label" translate>Speed</label>
				<div class="col-sm-10">
					<input
							ng-model="speed"
							type="number"
							value="100"
							min="1"
							max="300"
							class="form-control input-sm"
							id="espeakSpeedInput"
							placeholder="100"
					>
				</div>
			</div>

			<div class="form-group">
				<label for="espeakSpeakerInput" class="col-sm-2 control-label" translate>Speaker</label>
				<div class="col-sm-10">
					<select
							ng-options="id as text for (id, text) in speakers"
							ng-model="speaker"
							class="form-control input-sm"
							id="espeakSpeakerInput"
							>
					</select>
				</div>
			</div>

			<button
					type="submit"
					class="btn btn-primary btn-lg"
					ng-disabled="pending"
					translate
			>
				Submit
			</button>
		</form>
	</div>
</div>

<table ng-if="jobs|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Time</th>
			<th translate>Text</th>
			<th translate>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="job in jobs">
			<td>
				<time-ago from-time="job.timestamp" overdue="true"></time-ago>
			</td>
			<td>{{ job.event.espeak.text }}</td>
			<td>
				<a confirm="deleteEvent(job.jobId)" class="glyphicon glyphicon-remove btn btn-danger"></a>
			</td>
		</tr>
	</tbody>
</table>
