
<form style="width: 400px;" role="form">
	<h2 translate>Expression</h2>
    <div class="form-group">
        <label for="expressionConditionField" translate>Condition</label>
        <autocomplete
            id="expressionConditionField"
            ng-model="editExpression.condition"
            attrInputClass="form-control"
            on-type="autocompleteCondition"
            ng-enter="saveExpression(editExpression)"
            data="suggestionsCondion"
            placeholder="{{'Condition'|translate}}"
        </autocomplete>
    </div>

    <div class="form-group">
        <label translate>Actions</label>
        <div class="form-inline" ng-repeat="(key, action) in editExpression.actions track by $index">
            <label class="pull-left">{{ $index + 1 }}.) </label>
            <autocomplete
                    ng-model="editExpression.actions[$index]"
                    attrInputClass="form-cpmtrol"
                    on-type="autocompleteAction"
                    placeholder="{{'Action'|translate}}"
                    required
                    data="suggestionsActions"
            ></autocomplete>
            <a
                    ng-show="action && $index == editExpression.actions.length - 1"
                    class="pull-left form-control glyphicon glyphicon-plus"
                    ng-click="addAction(editExpression)"
            ></a>
            <a
                    ng-show="$index > 0"
                    class="pull-left form-control glyphicon glyphicon-minus"
                    ng-click="deleteAction($index)"
            ></a>
            <span class="clearfix"/>
        </div>
    </div>

	<button
            class="btn btn-lg btn-primary btn-block"
            ng-disabled="pending"
            ng-click="save(editExpression)"
            type="button"
            translate
    >
        Save
    </button>
</form>

<hr />
<table ng-if="expressions|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
            <th translate>Counter</th>
			<th translate>Payload</th>
			<th translate>Condition</th>
			<th translate>Actions</th>
			<th><span class="glyphicon glyphicon-edit"></span></th>
			<th><span class="glyphicon glyphicon-remove"></span></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="(expressionId, expression) in expressions">
			<td>{{ expression.counter }}</td>
			<td>
                <ul>
                    <li ng-repeat="(key, value) in expression.payload">{{key}}: {{ value }}</li>
                </ul>
            </td>
			<td>{{ expression.condition }}</td>
			<td>
                <ul>
                    <li ng-repeat="action in expression.actions">{{ action }}</li>
                </ul>
			</td>
			<td>
				<a
                        ng-click="edit(expression)"
                        class="glyphicon glyphicon-edit cursor"
                ></a>
			</td>
			<td>
				<a ng-click="delete(expressionId)" class="glyphicon glyphicon-remove"></a>
			</td>
		</tr>
	</tbody>
</table>


<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th translate>Timing-ID</th>
            <th translate>Next Run</th>
            <th translate>Interval</th>
            <th translate>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="timer in timers">
            <th>
                <span class="tip">{{ timer.event.event.timingId }}</span>
            </th>
            <th>{{ timer.event.timestamp|timeAgo }}</th>
            <th>{{ timer.event.interval}} seconds</th>
            <td>
                <a ng-click="deleteTimer(timer.eventId)" class="glyphicon glyphicon-remove"></a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <th>
            <input
                    type="text"
                    placeholder="{{'Timing-ID'|translate}}"
                    ng-enter="addTimer(timer)"
                    ng-model="timer.timingId"
                    class="form-control"/>
        </th>
        <th>
            <input
                    type="text"
                    placeholder="{{'Start Time'|translate}}"
                    ng-enter="addTimer(timer)"
                    ng-model="timer.startTime"
                    class="form-control"/>
        </th>
        <th>
            <input
                    type="number"
                    min="1"
                    placeholder="{{'Interval'|translate}}"
                    ng-enter="addTimer(timer)"
                    ng-model="timer.interval"
                    class="form-control"/>
        </th>
        <th>
            <input
                    type="button"
                    ng-click="addTimer(timer)"
                    class="btn btn-primary"
                    value="{{'Add'|translate}}" />
        </th>
    </tfoot>
</table>
