
<ui-select
		class="gpio-node-selection"
		on-select="selectNode($item.value)"
		ng-model="node">
	<ui-select-match placeholder="{{'Select a node...'|translate}}">{{$select.selected.value.name}}</ui-select-match>
	<ui-select-choices repeat="node.key as node in nodes|toObjectArray">
		<span>{{node.value.name}} ({{node.value.type}})</span>
	</ui-select-choices>
</ui-select>
<br />
<button ng-if="gpios|notEmpty" class="btn btn-primary" ng-click="toggleEditMode()" translate>Edit Mode</button>
<br />
<table ng-if="gpios|notEmpty" class="gpio-table table table-bordered table-hover table-striped">
	<thead>
		<tr>
			<th width="30">
				<a ng-click="setOrderBy('softwareId')" class="order" translate translate-context="gpio">
					#software
				</a>
			</th>
			<th width="30">
				<a ng-click="setOrderBy('physicalId')" class="order" translate  translate-context="gpio">
					#phy
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('name')" class="order" translate  translate-context="gpio">
					Name
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('mode')" class="order" translate  translate-context="gpio">
					Mode
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('value')" class="order" translate translate-context="gpio">
					Value
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pin in gpios|orderObjectBy:orderBy track by $index">
			<td>
				<span ng-if="pin.softwareId">#{{ pin.softwareId }}</span>
			</td>
			<td>#{{ pin.physicalId }}</td>
			<td>
				<b>{{ pin.name }}</b> <span ng-if="pin.description">({{ pin.description }})</span>

                <div ng-if="editMode">
                    <input ng-enter="saveDescription(pin)" type="text" ng-model="pin.description"/>
                    <span class="glyphicon glyphicon-save" ng-click="saveDescription(pin)"></span>
                </div>
            </td>
			<td>
				<a ng-click="changeMode(pin, $index)" ng-if="pin.softwareId" class="btn btn-{{ pin.mode ? 'success' : 'info'}}">
					{{ pin.mode ? 'OUT' : 'IN'}}
				</a>
			</td>
			<td>
				<a ng-click="changeValue(pin, $index)"  ng-if="pin.softwareId" class="btn btn-{{ pin.value ? 'success' : 'danger'}}">
					{{ pin.value ? 'OFF' : 'ON' }}
				</a>
			</td>
		</tr>
	</tbody>
</table>
