
<table style="max-width: 800px" ng-if="gpios|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th width="30">
				<a ng-click="setOrderBy('wiringId')" class="order" translate translate-context="gpio">
					#wiring
				</a>
			</th>
			<th width="30">
				<a ng-click="setOrderBy('physicalId')" class="order" translate  translate-context="gpio">
					#phy
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('name')" class="order" translate  translate-context="gpio">
					Name
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('mode')" class="order" translate  translate-context="gpio">
					Mode
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('value')" class="order" translate translate-context="gpio">
					Value
				</a>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="pin in gpios|orderObjectBy:orderBy">
			<td>
				<span ng-if="pin.wiringId">#{{ pin.wiringId }}</span>
			</td>
			<td>#{{ pin.physicalId }}</td>
			<td>
				<b>{{ pin.name }}</b> <span ng-if="pin.description">({{ pin.description }})</span>

                <div ng-if="editMode">
                    <input ng-enter="saveDescription(pin)" type="text" ng-model="pin.description"/>
                    <span class="glyphicon glyphicon-save" ng-click="saveDescription(pin)"></span>
                </div>
            </td>
			<td>
				<a ng-click="changeMode(pin)" ng-if="pin.wiringId" class="btn btn-{{ pin.mode ? 'success' : 'info'}}">
					{{ pin.mode ? 'OUT' : 'IN'}}
				</a>
			</td>
			<td>
				<a ng-click="changeValue(pin)"  ng-if="pin.wiringId" class="btn btn-{{ pin.value ? 'success' : 'danger'}}">
					{{ pin.value ? 'OFF' : 'ON' }}
				</a>
			</td>
		</tr>
	</tbody>
</table>
<button class="btn btn-primary" ng-click="editMode = !editMode" translate>Edit Mode</button>

