<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" translate>Add Sensor</h4>
    </div>
    <div class="modal-body navbar-forms navbar-lefts">
        <div class="row">
            <div class="col-lg-5">
                <div class="input-group">
                    <span class="input-group-addon" translate>Type</span>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" ng-click="close()" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" ng-click="addSensor()" class="btn btn-primary" translate>Add</button>
    </div>
</div>


