<table ng-if="radios|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Enable</th>
			<th>Disable</th>
			<th ng-if="editMode">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="radio in radios">
			<td>
				<div title="Code: {{ radio.code }} Pin: {{ radio.pin }} ID: {{ radio.radioId }}" class="tip">
					<div ng-if="radio.edit">
						<input type="text" ng-model="radio.name"/>
						<input type="text" ng-model="radio.description"/>
						<span class="glyphicon glyphicon-save" ng-click="saveRadio(radio)"></span>
						<span class="glyphicon glyphicon-remove" ng-click="radio.edit=false"></span>
					</div>
					<div ng-if="!radio.edit">
						{{ radio.name }}
						<small ng-if="radio.description">({{ radio.description }})</small>
						<span ng-if="editMode" class="glyphicon glyphicon-pencil" ng-click="radio.edit=true"></span>
					</div>
				</div>
			</td>
			<td><a ng-click="setStatus(radio, 1)" class="btn btn-success">Enable</a></td>
			<td><a ng-click="setStatus(radio, 0)" class="btn btn-danger">Disable</a></td>
			<td ng-if="editMode"><a ng-click="deleteRadio(radio.radioId)" class="glyphicon glyphicon-remove"></a></td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" ng-click="editMode = !editMode">Edit Mode</button>

<hr />

<table ng-if="radio_jobs|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th>Time</th>
			<th>Radio</th>
			<th>Status</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="radio_job in radio_jobs">
			<td>{{ radio_job.timestamp|timeAgo }}</td>
			<td>{{ radios[radio_job.event.radio_vo.radioId].name }}</td>
			<td>
				<a ng-click="setStatus(radio_job.radio_id, 1);deleteRadioJob(radio_job.event_id)" class="btn" ng-class="{'btn-danger':!radio_job.event.status, 'btn-success':radio_job.event.status}">{{ radio_job.event.status ? "ON" : "OFF" }}</a>
			</td>
			<td>
				<a ng-click="deleteRadioJob(radio_job.event_id)" class="glyphicon glyphicon-remove"></a>
			</td>
		</tr>
	</tbody>
</table>

<div ng-if="radios|notEmpty" class="panel panel-primary">
	<div class="panel-heading panel-toggle" onclick="togglePanel(this)">Add Job</div>
	<div class="panel-body">
		<form ng-submit="addRadioJob(new_job)" class="navbar-forms navbar-lefts ">
			<div class="row">
				<div class="col-lg-3">
					<div class="input-group">
						<div class="input-group-addon">Radio</div>
						<select ng-model="new_job.radioId" required class="form-control" ng-options="radio_id as radio.name for (radio_id, radio) in radios"></select>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon tip" title="e.g. 10s, 30m, 1h">Time</span>
						<input type="text" ng-model="new_job.time" required class="form-control" value="1h"/>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon">Status</span>
						<input type="checkbox" ng-model="new_job.status" required class="form-control" value="1"/>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-primary form-control" type="submit">Add</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div ng-if="editMode" class="panel panel-primary">
	<div class="panel-heading panel-toggle" onclick="togglePanel(this)">Add Radio</div>
	<div class="panel-body">
		<form ng-submit="addRadio()" class="navbar-forms navbar-lefts">
			<div class="row">
				<div class="col-lg-5">
					<div class="input-group">
						<span class="input-group-addon">Name</span>
						<input type="text" ng-model="name" class="form-control" placeholder="Name"/>
					</div>
				</div>
				<div class="col-lg-5">
					<div class="input-group">
						<span class="input-group-addon">Description</span>
						<input type="text" ng-model="description" class="form-control" placeholder="Description"/>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-addon">Code</span>
						<input type="text" class="form-control" max="5" min="0" ng-model="code" placeholder="00000"/>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-addon">Pin</span>
						<select ng-model="pin" class="form-control" ng-options="key for (key, value) in pins"></select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-btn">
							<button class="btn btn-primary form-control" type="submit">Add</button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
