<nav ng-if="sensors" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li ng-repeat="sensor in sensors" ng-class="{'active':isSensorActive(sensor.sensorId)}">
					<a
                        class="tip" data-placement="bottom"
                        title="Latest: {{ sensor.lastValue }}"
					    ng-click="sensorView(sensor.sensorId)"
                    >
						{{ sensor.name }}
					</a>
				</li>
			</ul>

			<ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="editModal()">
                        Edit <b class="glyphicon glyphicon-pencil"></b>
                    </a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
                    <a href="#" onclick="return false" class="dropdown-toggle" data-toggle="dropdown">
						Timespan <span class="glyphicon glyphicon-time"></span><b class="caret"></b>
					</a>
					<ul class="dropdown-menu">
						<li ng-repeat="(interval, label) in fromIntervals" ng_class="{active:(interval == current_from)}">
							<a ng-click="sensorView(null, interval)">
								{{ label }}
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div id="chart_container">
    <div id="legend"></div>
	<div id="y_axis"></div>
	<div id="chart"></div>
</div>

