<div id="shopping_list">
	<h3>Shopping List</h3>

	<ul class="unstyled">
		<li ng-repeat="todo in shoppingList|orderBy:'text'">
			<input type="checkbox" ng-change="change(todo)" ng-model="todo.done">
			<span ng-class="{completed: todo.done}">{{todo.text}}</span>
		</li>
	</ul>
	<form ng-submit="addShoppingItem()">
		<input
                type="text"
                ng-model="todoText"
                size="30"
                placeholder="Add an item"
                ng-enter="addShoppingItem()"
        />
		<input class="btn btn-primary" type="submit" value="add" />
	</form>
</div>
