<h1 translate>Message-Queue</h1>
<table ng-if="jobs|notEmpty" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th translate>Job-ID</th>
			<th>
				<a ng-click="setOrderBy('jobId')" class="order" translate>
					Type
				</a>
			</th>
			<th>
				<a ng-click="setOrderBy('timestamp')" class="order" translate>
					Date
				</a>
			</th>
			<th translate>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat-start="job in jobs|orderObjectBy:orderBy" ng-mouseover="job.detail=true" ng-mouseleave="job.detail=false">
			<td ng-mouseover="job.detail=true">
				{{::job.jobId|split:':':1}}
			</td>
			<td>
				{{::job.jobId|split:':':0}}
			</td>
			<td>
				<job-progress job="job" overdue="true"></job-progress>
			</td>
			<td>
                <a confirm="deleteEvent(job.jobId)" class="btn btn-danger">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
            </td>
		</tr>
		<tr ng-repeat-end>
			<td colspan="4" ng-show="job.detail">
				<ul>
					<li ng-repeat="(key, value) in ::job.event">
						<label>{{key}}</label>: {{value}}
					</li>
				</ul>
			</td>
		</tr>
	</tbody>
</table>

<h1 translate>Redis Stats</h1>
<uib-accordion>
	<uib-accordion-group ng-repeat="(section, values) in redis" heading="{{section}}">
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th translate>Key</th>
					<th translate>Value</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in values">
					<th>{{::key}}</th>
					<td>{{::value}}</td>
				</tr>
			</tbody>
		</table>
	</uib-accordion-group>
</uib-accordion>

<h1 translate>Browser Cache</h1>
<table class="table table-striped table-bordered table-hover">
	<thead>
	<tr>
		<th translate>Key</th>
		<th translate>Value</th>
	</tr>
	</thead>
	<tbody>
		<tr>
			<td translate>Keys</td>
			<th>{{cacheKeys}}</th>
		</tr>
		<tr>
			<td translate>Size</td>
			<th>{{cacheSize}}kb</th>
		</tr>
	</tbody>
</table>
