<table ng-if="radios|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Name</th>
			<th translate>Enable</th>
			<th translate>Disable</th>
			<th translate>Timer</th>
			<th translate ng-if="editMode">Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="radio in radios">
			<td>
				<div tooltip="Code: {{ radio.code }} - Pin: {{ radio.pin }} - ID: {{ radio.radioId }}" class="tip">
					<div ng-if="radio.edit">
						<input type="text" ng-model="radio.name"/>
						<input type="text" ng-model="radio.description"/>
						<span class="glyphicon glyphicon-save" ng-click="saveRadio(radio)"></span>
						<span class="glyphicon glyphicon-remove" ng-click="radio.edit=false"></span>
					</div>
					<div ng-if="!radio.edit">
						{{ radio.name }}
						<small ng-if="radio.description">({{ radio.description }})</small>
						<span
                                ng-if="editMode"
                                class="glyphicon glyphicon-pencil"
                                ng-click="radio.edit=true">
                        </span>
					</div>
				</div>
			</td>
			<td><a ng-disabled="!radio.status"  ng-click="setStatus(radio, 1)" class="btn btn-success">Enable</a></td>
			<td><a ng-disabled="radio.status" ng-click="setStatus(radio, 0)" class="btn btn-danger">Disable</a></td>
            <td><a ng-click="highlight(radio)" class="glyphicon glyphicon-hourglass"></a></td>
			<td ng-if="editMode"><a ng-click="deleteRadio(radio.radioId)" class="glyphicon glyphicon-remove"></a></td>
		</tr>
	</tbody>
</table>

<button class="btn btn-primary" ng-click="editMode = !editMode" translate>Edit Mode</button>

<hr />

<table ng-if="radioJobs|notEmpty" class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th translate>Time</th>
			<th translate>Radio</th>
			<th translate>Status</th>
			<th translate>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="radioJob in radioJobs">
			<td>
				<time-ago from-time="radioJob.timestamp" overdue="true"></time-ago>
			</td>
			<td>{{ radios[radioJob.event.radio_vo.radioId].name }}</td>
			<td>
				<a
                        ng-click="setStatus(radioJob.radioId, 1); deleteRadioJob(radioJob.event_id)"
                        class="btn"
                        ng-class="{'btn-danger':!radioJob.event.status, 'btn-success':radioJob.event.status}"
                >
                    {{ radioJob.event.status ? "ON" : "OFF" }}
                </a>
			</td>
			<td>
				<a ng-click="deleteRadioJob(radioJob.eventId)" class="glyphicon glyphicon-remove"></a>
			</td>
		</tr>
	</tbody>
</table>

<div ng-if="radios|notEmpty" class="panel panel-primary">
	<div class="panel-heading" translate>Add Job</div>
	<div class="panel-body">
		<form ng-submit="addRadioJob(newJob)" class="navbar-forms navbar-lefts ">
			<div class="row">
				<div class="col-lg-3">
					<div class="input-group">
						<div class="input-group-addon" translate>Switch</div>
						<ui-select ng-model="newJob.radioId">
							<ui-select-match placeholder="Select Radio...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="radio.radioId as radio in radios|toArray|propsFilter:{name: $select.search, description: $select.search}">
								<span ng-bind-html="radio.name|highlight:$select.search"></span>
								<span class="small" ng-bind-html="radio.description|highlight:$select.search"></span>
							</ui-select-choices>
						</ui-select>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<span
                                class="input-group-addon tip"
                                translate
                                tooltip="e.g. 10s, 30m, 1h"
                                ng-enter="addRadio(newRadio)">
                            Time
                        </span>
						<input
                                type="text"
                                ng-model="newJob.time"
                                id="newRadioJobTime"
                                required
                                class="form-control"
                                value="1h"
                                />
					</div>
				</div>
				<div class="col-lg-3">
					<div class="input-group">
						<span class="input-group-addon" translate>Status</span>
						<input
                                type="checkbox"
                                ng-model="newJob.status"
                                class="form-control"
                                value="1"
                        />
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<button
                                class="btn btn-primary form-control"
                                translate
                                type="submit">
                            Add
                        </button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<div ng-if="editMode" class="panel panel-primary">
	<div class="panel-heading" translate>
        Add Switch
    </div>
	<div class="panel-body">
		<form ng-submit="addRadio(newRadio)" class="navbar-forms navbar-lefts">
			<div class="row">
				<div class="col-lg-5">
					<div class="input-group">
						<span class="input-group-addon" translate>Name</span>
						<input
                                type="text"
                                ng-model="newRadio.name"
                                class="form-control"
                                placeholder="{{'Name'|translate}}"
                        />
					</div>
				</div>
				<div class="col-lg-5">
					<div class="input-group">
						<span class="input-group-addon" translate>Description</span>
						<input
                                type="text"
                                ng-model="newRadio.description"
                                class="form-control"
                                placeholder="{{'Description'|translate}}"
                        />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-2">
					<div class="input-group">
						<span
                                class="input-group-addon"
                                translate
                                translate-comment="radio code"
                        >
                            Code
                        </span>
						<input
                                type="text"
                                class="form-control"
                                max="5"
                                min="0"
                                ng-model="newRadio.code"
                                placeholder="00000"
                        />
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<span
                                class="input-group-addon"
                                translate
                                translate-comment="radio pin"
                        >
                            Pin
                        </span>
						<select
                                ng-model="newRadio.pin"
                                class="form-control"
                                ng-options="key for (key, value) in pins">
                        </select>
					</div>
				</div>
				<div class="col-lg-2">
					<div class="input-group">
						<span class="input-group-btn">
							<button
                                    class="btn btn-primary form-control"
                                    type="submit"
                                    translate
                                    translate-comment="add radio"
                            >
                                Add
                            </button>
						</span>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
