<div class="container-fluid">
	<div class="panel panel-primary task-list">
		<div class="panel-heading" translate ng-if="!currentItem.todoId">Add a task</div>
		<div class="panel-heading" translate ng-if="currentItem.todoId">Edit a task</div>
		<div class="panel-body">
			<form ng-submit="submit(currentItem)" class="form-group">
				<input
						ng-model="currentItem.name"
						ng-enter="submit(currentItem)"
						type="text"
						class="form-control"
						placeholder="{{'Title'|translate}}"
				/>
				<textarea
						ng-model="currentItem.description"
						ng-enter="submit(currentItem)"
						class="form-control"
						placeholder="{{'Description'|translate}}"
						>
				</textarea>
				<input
						type="text"
						class="form-control"
						placeholder="Interval. E.g. '@daily'"
						ng-model="currentItem.cronExpression"
						ng-enter="submit(currentItem)"
						/>
				<!--todo fix datetime picker-->
				<input
						type="text"
						class="form-control"
						uib-datepicker-popup="dd-MMMM-yyyy"
						ng-model="currentItem.deadline"
						placeholder="{{'Deadline'|translate}}"
						datepicker-options="{}"
						date-disabled="disabled(date, mode)"
						close-text="{{'Close'|translate}}"
						ng-enter="submit(currentItem)"
				/>
				<input type="submit" class="btn btn-primary" value="{{'Add Task'|translate}}" ng-if="!currentItem.todoId"/>
				<input type="submit" class="btn btn-primary" value="{{'Save'|translate}}" ng-if="currentItem.todoId"/>
			</form>
			<div class="delete-div" ui-on-Drop="onDelete($data)" translate>
				Drag Here to Delete
			</div>
		</div>
	</div>

	<div
		class="panel panel-primary task-list task-container"
		 ng-repeat="(statusId, status) in states"
		 ng-model="statusId"
		 ui-on-Drop="onDrop(statusId, $event, $data, status.tasks)"
	>
		<div class="panel-heading">{{statusId|translateToken:'todo.status.{0}.name'}}</div>
		<div class="panel-body">
			<div
					ng-repeat="item in items|filter:statusId|orderBy:'name'"
					class="todo-task"
					ui-draggable="true"
					drag="item"
					>
				<div class="task-header">{{item.name}}</div>
				<div class="task-description" ng-if="item.description">{{item.description}}</div>
				<div class="task-deadline" ng-if="item.deadline > 0">
					<time-ago from-time="item.deadline" overdue="true"></time-ago>
				</div>
				<div class="task-description" ng-if="item.cronExpression">
					{{item.cronExpression}}
				</div>
				<ui-select ng-model="item.userId">
					<ui-select-match placeholder="{{'Select...'|translate}}">
						{{$select.selected.name}}
					</ui-select-match>
					<ui-select-choices repeat="user.userId as user in userNames|propsFilter:{name:$select.search}">
						<span ng-bind-html="user.name|highlight:$select.search"></span>
					</ui-select-choices>
				</ui-select>
				<a class="btn btn-primary" ng-click="setCurrent(item)" translate>
					Edit
				</a>
			</div>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>
