<div>
	<div class="task-list">
		<h3>Add a task</h3>
		<form ng-submit="addTodo()">
			<input ng-model="newTitle" type="text" placeholder="Title" />
			<textarea ng-model="newDescription" placeholder="Description"></textarea>
			<input
					type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy"
					ng-fodatepicker-popup="dd-MMMM-yyyy" ng-model="newDateline"
					placeholder="Deadline" datepicker-options="{}"
					date-disabled="disabled(date, mode)" close-text="Close" />
			<input  type="submit" class="btn btn-primary" value="Add Task" />
		</form>
		<div id="delete-div" ui-on-Drop="onDelete($data)">
			Drag Here to Delete
		</div>
	</div>

	<div
			class="task-list task-container"
			ng-repeat="status in stati|orderObjectBy:'prio'"
			ng-model="status.id"
			ui-on-Drop="onDrop(status.id,$event,$data,status.tasks)"
	>
		<h3>{{ status.name }}</h3>
		<div
				ng-repeat="item in status.tasks|orderBy:'name'" class="todo-task"
				ui-draggable="true"
				drag="item"
				on-drop-success="dropSuccessHandler($index, status.id, item.todoId, status.tasks)"
				>
			<div class="task-header">{{item.name}}</div>
			<div class="task-description" ng-if="item.description">{{item.description}}</div>
			<div class="task-deadline" ng-if="item.deadline > 0">{{item.deadline|timeAgo}}</div>
			<select
					ng-change="assign(item.todoId, item.userId)"
					ng-model="item.userId"
					ng-options="user.id as user.name for user in userNames" >
			</select>
		</div>
	</div>

	<div style="clear:both;"></div>
</div>

<div id="shopping_list">
	<h3>Shopping List</h3>

	<ul class="unstyled">
		<li ng-repeat="todo in shoppingList">
			<input type="checkbox" ng-change="change(todo.text, todo.done)" ng-model="todo.done">
			<span class="done-{{todo.done}}">{{todo.text}}</span>
		</li>
	</ul>
	<form ng-submit="addShoppingItem()">
		<input type="text" ng-model="todoText" size="30" placeholder="Add an item">
		<input class="btn btn-primary" type="submit" value="add">
	</form>
</div>
