<div ng-show="shots" class="container">
	<div class="row">
		<div ng-repeat="shot in shots" class="col-xs-4">
			<img ng-src="/webcam/image/?file={{ shot.webPath }}" class="img-thumbnail thumbnail"/>
			<a ng-hide="shot.deleting" ng-click="removeShot($index)" title="Delete" class="tip glyphicon glyphicon-remove">
				&nbsp;
			</a>
		</div>
	</div>
</div>

<a class="btn btn-primary" ng-click="takeShot()" translate>Take Photo</a>
<a class="btn btn-primary" ng-click="takeSound()" translate>Take Video</a>
<a class="btn btn-primary" ng-click="takeVideo()" translate>Take Sound</a>
