
<div class="panel panel-primary">
    <div class="panel-heading" translate>Edit Display</div>
    <div class="panel-body">
        <form ng-submit="save(currentScreen)">
            <div class="form-group">
                <div class="col-sm-12">
                    <label translate>Name</label>
                    <input
                            type="text"
                            ng-model="currentScreen.name"
                            class="form-control"
                            required="required"
                            ng-minlength="3"
                    />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <label translate>Node</label>
                    <ui-select ng-model="currentScreen.nodeId">
                        <ui-select-match placeholder="{{'Select a node...'|translate}}">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="node.nodeId as node in nodes|toArray">
                            <span ng-bind-html="node.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <label translate>Rows</label>

                    <input
                            ng-model="currentScreen.lines"
                            type="number"
                            min="1"
                            max="200"
                            required
                            class="form-control input-lg"
                            placeholder="{{'Lines'|translate}}"
                    />
                </div>
                <div class="col-sm-6">
                    <label translate>Characters per Row</label>
                    <input
                            ng-model="currentScreen.columns"
                            type="number"
                            min="1"
                            max="200"
                            required
                            class="form-control input-lg"
                            placeholder="{{'Columns'|translate}}"
                    />
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <h3 translate>Lines</h3>
                    <div class="form-inline" ng-repeat="line in currentScreen.content track by $index">
                        <label class="pull-left">{{ $index+1 }}:&nbsp</label>
                        <input ng-model="currentScreen.content[$index]" class="form-control" type="text"/>

                        <div class="btn-group">
                            <a
                                    ng-click="currentScreen.content.slice($index, 1)"
                                    class="btn btn-danger glyphicon glyphicon-minus"></a>
                            <a
                                    ng-click="currentScreen.content.push('\'\'')"
                                    class="btn btn-success glyphicon glyphicon-plus"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary" translate>Save</button>
                </div>
                <div ng-if="currentScreen.displayId" class="col-sm-6">
                    <button type="button" confirm="deleteDisplay(currentScreen)" class="btn btn-danger" translate>Delete</button>
                </div>
            </div>
        </form>
    </div>
</div>
