<div class="modal-content">
	<div class="modal-header">
		<button
                ng-click="close()"
                type="button"
                class="close"
                data-dismiss="modal"
        >
            &times;
        </button>
		<h4 class="modal-title" translate>Sensors</h4>
	</div>
	<div class="modal-body navbar-forms navbar-lefts">
		<table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th translate>Type</th>
                    <th translate>Name</th>
                    <th translate>Color</th>
                    <th translate>Value</th>
                    <th translate>Interval</th>
                    <th translate>Next run</th>
                    <th translate>Edit</th>
                </tr>
            </thead>
            <tr ng-repeat="sensor in sensors">
                <td title="{{ sensor.sensorId }}">
                    <div ng-if="!sensor.edit">
                        <b>{{ types[sensor.type].name }}</b>
                        <br />
                        <span class="small" ng-if="sensor.pin">({{ sensor.pin }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <ui-select ng-model="sensor.type">
                            <ui-select-match placeholder="{{'Select a type...'|translate}}">{{$select.selected.value.name}}</ui-select-match>
                            <ui-select-choices group-by="'type.value.type'" groupBy="'type.value.type'" repeat="type.key as type in types|toObjectArray">
                                <span ng-bind-html="type.value.name"></span>
                                <span class="small">({{type.value.type}})</span>
                            </ui-select-choices>
                        </ui-select>
                        <input type="text" class="form-control" placeholder="Pin" ng-model="sensor.pin" />
                    </div>
                </td>
                <td>
                    <div ng-if="!sensor.edit">
                        {{ sensor.name }}
                        <span ng-if="sensor.description">({{ sensor.description }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <input type="text"  class="form-control" placeholder="Name" ng-model="sensor.name" />
                        <input type="text"  class="form-control" placeholder="Description" ng-model="sensor.description" />
                    </div>
                </td>
                <td>
                    <div ng-if="!sensor.edit && sensor.color" class="sensorColorPicker" ng-style="{'background-color':sensor.color}"></div>
                    <div ng-if="sensor.edit" class="input-group">
                        <div colorpicker ng-model="sensor.color" ng-if="sensor.color" class="input-group-addon sensorColorPicker" style="border:darkgrey 1px solid; width: 20px; height: 20px" ng-style="{'background-color':sensor.color}"></div>
                        <input ng-if="sensor.edit" colorpicker type="text" ng-model="sensor.color" />
                    </div>
                </td>
                <td>
                    {{ formatValue(sensor.lastValue, types[sensor.type]) }}
                </td>
                <td>
                    <div ng-if="!sensor.edit">
                        {{ sensor.interval }} minutes
                    </div>
                    <div ng-if="sensor.edit">
                        <input
                                type="number"
                                min="-1"
                                max="86400"
                                size="2"
                                class="form-control"
                                placeholder="Interval"
                                ng-model="sensor.interval"
                                />
                    </div>
                </td>
                <td>
                    <small ng-if="sensor.interval > 0">
                        <time-ago from-time="sensor.lastValueTimestamp + sensor.interval * 60" short="true" overdue="true"></time-ago>
                        <a ng-click="reload(sensor.sensorId)" class="btn btn-default btn-sm glyphicon glyphicon-repeat"></a>
                    </small>
                    <small ng-if="sensor.interval == -1" translate>
                       disabled
                    </small>
                </td>
                <td>
                    <a ng-click="edit(sensor)" class="glyphicon glyphicon-edit"></a>
                    <a ng-click="deleteSensor(sensor)" class="glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        </table>
	</div>
	<div class="modal-footer">
		<button
                type="button"
                ng-click="close()"
                class="btn btn-default"
                data-dismiss="modal"
                translate
        >
            Close
        </button>
	</div>
</div>


