<div class="modal-content">
	<div class="modal-header">
		<button
                ng-click="close()"
                type="button"
                class="close"
                data-dismiss="modal"
                aria-hidden="true"
        >
            &times;
        </button>
		<h4 class="modal-title" translate>Sensors</h4>
	</div>
	<div class="modal-body navbar-forms navbar-lefts">
		<table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>
                    <th translate>Type</th>
                    <th translate>Name</th>
                    <th translate>Value</th>
                    <th translate>Edit</th>
                </tr>
            </thead>
            <tr ng-repeat="sensor in sensors">
                <td title="{{ sensor.sensorId }}">
                    {{ types[sensor.type].name }}
                    <div ng-if="!sensor.edit">
                        <span class="small" ng-if="sensor.pin">({{ sensor.pin }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <input type="text" placeholder="Pin" ng-model="sensor.pin" />
                    </div>
                </td>
                <td>
                    <div ng-if="!sensor.edit">
                        {{ sensor.name }}
                        <span ng-if="sensor.description">({{ sensor.description }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <input type="text" placeholder="Name" ng-model="sensor.name" />
                        <input type="text" placeholder="Description" ng-model="sensor.description" />
                    </div>
                </td>
                <td>{{ sensor.lastValue }}</td>
                <td>
                    <a ng-click="edit(sensor)" class="glyphicon glyphicon-edit"></a>
                    <a ng-click="deleteSensor(sensor)" class="glyphicon glyphicon-remove"></a>
                </td>
            </tr>
        </table>
	</div>
	<div class="modal-footer">
		<button
                type="button"
                ng-click="close()"
                class="btn btn-default"
                data-dismiss="modal"
                translate
        >
            Close
        </button>
	</div>
</div>


