<table ng-if="users|notEmpty" class="table table-bordered table-striped table-hover">
    <thead>
        <tr>
            <th width="30"><a ng-click="setOrderBy('userId')" translate>Id</a></th>
            <th><a ng-click="setOrderBy('username')" translate>Name</a></th>
            <th><a ng-click="setOrderBy('email')" translate>Email</a></th>
            <th translate>Password</th>
            <th translate>Roles</th>
            <th><span class="glyphicon glyphicon-pencil"></span></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="(userId, user) in users|orderObjectBy:orderBy">
            <td>
                {{user.userId}}
            </td>
            <td>
                <b>{{user.username}}</b>
            </td>
            <td>
                <span ng-if="!user.edit">{{ user.email }}</span>
                <input class="form-control" type="email" ng-if="user.edit" ng-model="user.email" placeholder="{{'Email'|translate}}"/>
            </td>
            <td>
                <a ng-click="newPassword(user)" uib-tooltip="{{'Change password'|translate}}" class="btn btn-default glyphicon glyphicon-lock"></a>
            </td>
            <td>
                <ui-select ng-if="user.edit || (user.roles|notEmpty)" multiple ng-disabled="!user.edit" ng-model="user.roles">
                    <ui-select-match placeholder="{{'Select roles'|translate}}">{{$item}}</ui-select-match>
                    <ui-select-choices repeat="role in rights">
                        <div ng-bind="role"></div>
                    </ui-select-choices>
                </ui-select>
            </td>
            <td>
                <div class="btn-group">
                    <a ng-if="!user.edit" ng-click="user.edit = !user.edit" class="btn btn-default" uib-tooltip="{{'Edit'|translate}}">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a ng-if="user.edit" ng-click="save(user)" class="btn btn-default" uib-tooltip="{{'Save'|translate}}">
                        <span class="glyphicon glyphicon-save"></span>
                    </a>
                    <a ng-if="user.edit" ng-click="user.edit = !user.edit" class="btn btn-danger" uib-tooltip="{{'Cancel'|translate}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a ng-if="!user.edit" confirm="deleteUser(user)" class="btn btn-danger" uib-tooltip="{{'Delete'|translate}}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </div>
            </td>
        </tr>
    </tbody>
</table>
