{% extends "layout.html.twig" %}

{% block title %}Blog{% endblock %}

{% block content %}
	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>Time</th>
				<th>Text</th>
				<th>Mood</th>
				<th class="glyphicon glyphicon-remove">&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			{% for timestamp, post in posts %}
				<tr>
					<td>{{ timestamp|date}}</td>
					<td>{{ post.mood }}</td>
					<td>{{ post.text }}</td>
					<td><a href="/blog/delete/{{ timestamp|raw}}/" onclick="return confirm('{% trans "Remove this Post?" %}')" class="glyphicon glyphicon-remove"></a></td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<form style="width: 400px; margin: auto" role="form" method="post" action="/blog/add/">
		<h2>Add Post</h2>
		<input type="text" name="text" class="form-control" placeholder="Text" required autofocus>
		<input type="number" min="0" max="10" name="mood" class="form-control" placeholder="0-10" value="">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
	</form>

{% endblock %}
