{% extends "layout.html.twig" %}

{% block content %}
	<div class="span-9">
		<div class="row">
			{% for row in dashboard %}
				<div class="col-md-6">
					{% for widget in row %}
						{{ widget.renderWidget()|raw }}
					{% endfor %}
				</div>
			{% endfor %}
		</div>
	</div>
	<div class="panel panel-primary">
		<div class="panel-heading panel-toggle" onclick="togglePanel(this)">Add Widget</div>
		<div class="panel-body hidden">
			<form action="/dashboard/add/" method="POST" class="navbar-forms navbar-lefts">
				<div class="row">
					<div class="col-lg-5">
						<div class="input-group">
							<span class='input-group-addon'>Type</span>
							<select name="type" class="form-control">
								{% for type in widgets %}
									<option>{{ type|raw }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="col-lg-5">
						<div class="input-group">
							<span class='input-group-addon'>Payload</span>
							<input type="text" name="payload" class="form-control" placeholder="{'sensor_id':1}"/>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-10">
						<div class="input-group">
							{#TODO#}
				  <span class="input-group-btn">
						<button class="btn btn-default" type="submit">Add</button>
				  </span>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock %}
