<!DOCTYPE html>
<html ng-app="raspberry" ng-controller="LayoutController">
<head>
	<title ng-bind="title">{% block title %}Raspberry{% endblock %}</title>
	<meta charset="utf-8">
	<meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">

	<link rel="icon" href="{% asset_url "favicon.ico" %}" type="image/x-icon"/>
	<link href="{% asset_url "common.css" %}" rel="stylesheet">
	<script src="{% asset_url "vendor.js" %}"></script>
	<script src="{% asset_url "common.js" %}"></script>
	<script type="text/javascript">
		init('{% config 'debug' %}',{{ current_user|json }},'{% config 'socket.url' %}');
	</script>
	{% block meta %}{% endblock %}
</head>
<body>
	{% block full_content %}{% endblock %}
	{% piwik "" %}
</body>
</html>
