{% extends "layout.html.twig" %}

{% block title %}Webcam{% endblock %}

{% block content %}
	{% if shots %}
		<div class="container">
			<div class="row">
				{% for shot in shots %}
					<div class="col-xs-4">
						<img src="{{ shot.web_path }}" class="img-thumbnail thumbnail"/>
						<a href="/webcam/delete/{{ shot.getId }}/" title="Delete" onclick="return confirm('Remove image')" class="tip glyphicon glyphicon-remove">&nbsp;</a>
					</div>
				{% endfor %}

			</div>
		</div>
	{% endif %}

	<a class="btn btn-primary" href="/webcam/take/">Take Photo</a>
{% endblock %}
