<div class="modal-content">
	<div class="modal-header">
		<button
                ng-click="close()"
                type="button"
                class="close"
                data-dismiss="modal"
        >
            &times;
        </button>
		<h4 class="modal-title" translate>Sensors</h4>
	</div>
	<div class="modal-body navbar-forms navbar-lefts">
		<table class="table table-bordered table-striped table-hover">
            <thead>
                <tr>

                    <th>
                        <a ng-click="setOrderBy('type')" class="order" translate translate-context="sensor">
                            Type
                        </a>
                    </th>
                    <th>
                        <a ng-click="setOrderBy('name')" class="order" translate translate-context="sensor">
                            Name
                        </a>
                    </th>
                    <th translate>Color</th>
                    <th>
                        <a ng-click="setOrderBy('lastValue')" class="order" translate translate-context="sensor">
                            Value
                        </a>
                    </th>
                    <th>
                        <a ng-click="setOrderBy('interval')" class="order" translate translate-context="sensor">
                            Interval
                        </a>
                    </th>
                    <th translate>Edit</th>
                </tr>
            </thead>
            <tr ng-repeat="sensor in sensors|orderObjectBy:orderBy">
                <td uib-tooltip="{{ sensor.sensorId }}">
                    <div ng-if="!sensor.edit">
                        <b>{{sensor.type|translateToken:'sensor.{0}.name'}}</b>
                        <br />
                        <span class="small" ng-if="sensor.parameter">({{ sensor.parameter }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <ui-select ng-model="sensor.type" required uib-tooltip="{{'Type'|translate}}">
                            <ui-select-match placeholder="{{'Type'|translate}}">{{$select.selected.key|translateToken:'sensor.{0}.name'}}</ui-select-match>
                            <ui-select-choices repeat="type.key as type in types|toObjectArray">
                                <span>{{type.key|translateToken:'sensor.{0}.name'}}</span>
                                <span class="small">({{type.value.type}})</span>
                            </ui-select-choices>
                        </ui-select>
                        <ui-select ng-model="sensor.formatter" required uib-tooltip="{{'Formatter'|translate}}">
                            <ui-select-match placeholder="{{'Formatter'|translate}}">{{$select.selected|translateToken:'sensor.formatter.{0}.name'}}</ui-select-match>
                            <ui-select-choices repeat="formatter as formatter in formatters">
                                {{formatter|translateToken:'sensor.formatter.{0}.name'}}
                            </ui-select-choices>
                        </ui-select>
                        <input
                                type="text"
                                class="form-control"
                                uib-tooltip="{{'Parameter'|translate}}"
                                placeholder="{{'Parameter'|translate}}"
                                ng-model="sensor.parameter"
                        />
                    </div>
                </td>
                <td>
                    <div ng-if="!sensor.edit">
                        {{ sensor.name }}
                        <span ng-if="sensor.description">({{ sensor.description }})</span>
                    </div>
                    <div ng-if="sensor.edit">
                        <input type="text"  class="form-control" placeholder="{{'Name'|translate}}" ng-model="sensor.name" />
                        <input type="text"  class="form-control" placeholder="{{'Description'|translate}}" ng-model="sensor.description" />
                    </div>
                </td>
                <td>
                    <div ng-if="!sensor.edit && sensor.color" class="sensorColorPicker" ng-style="{'background-color':sensor.color}"></div>
                    <div ng-if="sensor.edit" class="input-group">
                        <div colorpicker ng-model="sensor.color" ng-if="sensor.color" class="input-group-addon sensorColorPicker" style="border:darkgrey 1px solid; width: 20px; height: 20px" ng-style="{'background-color':sensor.color}"></div>
                        <input ng-if="sensor.edit" colorpicker type="text" ng-model="sensor.color" />
                    </div>
                </td>
                <td>
                    {{ formatValue(sensor.lastValue, sensor) }}
                </td>
                <td>
                    <span translate>Interval:</span>
                    <div ng-if="!sensor.edit" translate>
                        {{ sensor.interval }} minutes
                    </div>
                    <div ng-if="sensor.edit">
                        <input
                                type="number"
                                min="-1"
                                max="86400"
                                size="2"
                                class="form-control"
                                placeholder="{{'Interval'|translate}}"
                                ng-model="sensor.interval"
                                />
                    </div>
                    <br />
                    <small ng-if="sensor.interval > 0">
                        <time-ago from-time="sensor.lastValueTimestamp + sensor.interval * 60" short="true" overdue="true"></time-ago>
                        <a ng-click="reload(sensor.sensorId)" class="btn btn-default btn-sm glyphicon glyphicon-repeat"></a>
                    </small>
                    <small ng-if="sensor.interval == -1" translate>
                       disabled
                    </small>
                </td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a ng-click="edit(sensor)" class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a confirm="deleteSensor(sensor)" class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove"></span>
                        </a>
                    </div>
                </td>
            </tr>
        </table>
	</div>
	<div class="modal-footer">
		<button
                type="button"
                ng-click="close()"
                class="btn btn-default"
                data-dismiss="modal"
                translate
        >
            Close
        </button>
	</div>
</div>


