<nav ng-if="sensors" class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
				<span class="sr-only" translate>Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
            <div class="navbar-collapse" ng-class="{collapse:!isCollapsed}">
                <ul class="nav navbar-nav">
                    <li ng-repeat="sensor in sensors" ng-class="{'active':isSensorActive(sensor.sensorId)}">
                        <a
                                class="tip cursor"
                                data-placement="bottom"
                                uib-tooltip="Recent: {{ sensor.lastValue }}"
                                ng-click="sensorView(sensor.sensorId)"
                                >
                            {{ sensor.name }}
                        </a>
                    </li>
                    <li>
                        <div class="btn-group btn-group-sm">
                            <a class="btn btn-default btn-sm" ng-click="editModal()"  uib-tooltip="{{'Edit'|translate}}">
                                <b class="glyphicon glyphicon-pencil"></b>
                            </a>
                            <a class="btn btn-default btn-sm" ng-click="addModal()" uib-tooltip="{{'Add'|translate}}">
                                <b class="glyphicon glyphicon-plus"></b>
                            </a>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown" uib-dropdown>
                            <a href class="btn btn-default btn-sm mdropdown-toggle" uib-tooltip="{{'Timespan'|translate}}" uib-dropdown-toggle>
                                <span class="glyphicon glyphicon-time"></span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="(interval, label) in fromIntervals" ng-class="{active:(interval == currentFrom)}">
                                    <a ng-click="sensorView(null, interval)">
                                        {{ label }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
		</div>
	</div>
</nav>

<div id="chart_container">
    <div class="legend"></div>
	<div class="y_axis"></div>
	<div class="chart"></div>
</div>
