<div class="modal-header dialog-header-confirm">
    <button type="button" class="btn btn-lg btn-danger close" ng-click="close()">&times;</button>
    <h4 class="modal-title" translate>Sensor Value</h4>
</div>
<div class="modal-body" translate>Delete sensor value from {{value.series.name}}?</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="close()" translate>Close</button>
    <button type="button" class="btn btn-danger" ng-click="delete()" translate>Delete</button>
</div>
