.blog_mood {
	font-weight: bold;
	font-size: 1.2em;
}

.blog_mood_0 {
	color: #c00
}

.blog_mood_1 {
	color: #c00
}

.blog_mood_2 {
	color: #c00
}

.blog_mood_3 {
	color: #c00
}

.blog_mood_4 {
	color: #c00
}

.blog_mood_5 {
	color: #c00
}

.blog_mood_6 {
	color: #c00
}

.blog_mood_7 {
	color: #c00
}

.blog_mood_8 {
	color: #c00
}

.blog_mood_9 {
	color: #c00
}

.blog_mood_10 {
	color: #0c0
}