
#shopping_list {
	width: 500px;
	float: left;
	min-height: 500px;
}

.shopping-entry {
	width: 230px;
}

.shopping-entry, #shopping_list {
	background-color: #e3e3e3;
	border-radius: 10px;
	margin: 5px;
	padding: 10px;
	border: 1px darkgray solid;
}

.task-list {
	width: 250px;
	float: left;
	margin: 0 5px;
	background-color: #e3e3e3;
	height: 500px;
	border-radius: 10px;
	border: 1px darkgray solid;
	padding-bottom: 15px;
	overflow-y: auto;
}

.task-list input, .task-list textarea {
	width: 240px;
	margin: 1px 5px;
}

.task-list input{
	height: 30px;
}

.todo-task {
	border-radius: 5px;
	background-color: #fff;
	width: 220px;
	margin: 5px;
	padding: 5px;
	border: 1px darkgray solid;
}

.task-list input[type="button"]{
	width: 100px;
	margin: 5px;
}

.todo-task > .task-header{
	font-weight: bold;
}

.todo-task > .task-date{
	font-size: small;
	font-style: italic;
}

.todo-task > .task-deadline {
	font-size: small;
	font-style: italic;
}

.todo-task > .task-description, .todo-task > .task-user{
	font-size: smaller;
}

.task-list .completed .todo-task {
	text-decoration: line-through;
}

#delete-div{
	background-color: #fff;
	border: 3px dotted #000;
	border-radius: 5px;
	margin: 10px;
	height: 75px;
	line-height: 75px;
	text-align: center;
}
